<form id="FiltersForm" action="{{ shop_url|e('esc_url') }}" class="" method="get" role="search">
  <fieldset class="uk-fieldset">

    {# filters buttons #}
    <div id="FiltersFormMainArea" class="uk-background-muted theme-border uk-border-rounded uk-padding-small">
      <ul class="live-search-form-main uk-flex uk-flex-middle uk-grid uk-grid-small" uk-grid>

        {# filters label #}
        <li class="uk-width-auto">
          <strong>{{ _x('Filters:', 'Blog filters', 'base-theme')|e('esc_html') }} </strong>
        </li>

        {# blog filters: filter buttons #}
        {% if configs.blog_filters_properties.types is not empty %}
          {% for item in configs.blog_filters_properties.types %}
            {# this check is for when post tags are disabled but post_tag still exists in the config types for blog filters #}
            {% if not (configs.disable_post_tags and item.taxKey == 'post_tag') %}
              {# do as normal here #}
              {% set tax_labels = fn('get_taxonomy_labels', fn('get_taxonomy', item.taxKey)) %}
              {% if item.parentGroupId %}

                {# parent drop button #}
                <li class="uk-width-auto {{ (fn('is_child_term_archive', item.taxKey)) ? 'theme-hidden' }}">
                  <a id="{{item.parentGroupId ~ '_filters_btn'}}" class="filter-btn" drop_target="{{'#' ~ item.parentGroupId ~ '_filters'}}">
                    <span>{{ tax_labels.name|e('esc_html') }} <i class="fa-solid fa-caret-down" hidden></i></span>
                  </a>
                </li>

                {# sub spinner: hidden to start #}
                <li id="loader_{{item.subId}}" class="loading-item uk-hidden">
                  <div id="loading"></div>
                </li>

                {# sub button: hidden to start #}
                <li id="{{ item.subId }}" class="uk-hidden">
                  <a id="{{item.subId ~ '_filters_btn'}}" class="filter-btn" drop_target="{{'#' ~ item.subId ~ '_filters'}}">
                    <span>{{ _x('More %s', 'Shop filters', 'base-theme')|format(tax_labels.name)|e('esc_html') }} <i class="fa-solid fa-caret-down" hidden></i></span>
                  </a>
                </li>

              {% else %}

                {# parent only drop button (no subs) #}
                <li class="uk-width-auto">
                  <a id="{{item.formQueryKey ~ '_filters_btn'}}" class="filter-btn" drop_target="{{'#' ~ item.formQueryKey ~ '_filters'}}">
                    <span>{{ tax_labels.name|e('esc_html') }} <i class="fa-solid fa-caret-down" hidden></i></span>
                  </a>
                </li>

              {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}

      </ul>
    </div>

    {# filters dropdown areas #}
    <div id="FiltersFormDropArea" class="">
      {% if configs.blog_filters_properties.types is not empty %}
        {% for item in configs.blog_filters_properties.types %}
          {# this check is for when post tags are disabled but post_tag still exists in the config types for blog filters #}
          {% if not (configs.disable_post_tags and item.taxKey == 'post_tag') %}
            {# do as normal here #}
            {% if item.parentGroupId %}

              {# parent drop area (when has subs) #}
              <div id="{{ item.parentGroupId ~ '_filters' }}" class="filter-area">
                <div class="uk-padding uk-background-default">
                  <div id="{{ item.parentGroupId }}" class="uk-grid-small uk-child-width-auto uk-margin-remove uk-grid">

                    {# loop the inputs into the drop area #}
                    {% for _item in fn('terms_for_filters', item.taxKey) %}
                      <label class="uk-form-label">
                        <input 
                        class="uk-checkbox uk-border-rounded 
                        {{ fn('is_term_active', _item.term_id, fn('get_query_var', item.altQueryKey)) or fn('is_term_parent_of_active', _item.term_id, item.altQueryKey, item.taxKey) ? 'prevent-unclick' }} 
                        {{ fn('does_term_have_children', _item.term_id) ? 'has-children' }}"
                        type="checkbox" name="{{ item.formQueryKey }}" id="{{ _item.term_id|e('esc_html') }}" value="{{ _item.slug|e('esc_html') }}"
                        {{ fn('is_term_active', _item.term_id, fn('get_query_var', item.altQueryKey)) or fn('is_term_parent_of_active', _item.term_id, item.altQueryKey, item.taxKey) ? 'checked' }}> {{ _item.name|e('esc_html') }}
                      </label>
                    {% endfor %}

                  </div>
                </div>
                {% include '_blog-filters-submit-btns.twig' %}
              </div>

              {# sub drop area #}
              <div id="{{ item.subId ~ '_filters' }}" class="filter-area">
                <div class="uk-padding uk-background-default">

                  {# the inputs will be javascript'd into the sub area when parents are selected on frontend #}
                  <div id="{{ item.subGroupId }}" class="uk-grid-small uk-child-width-auto uk-margin-remove uk-grid"></div>

                </div>
                {% include '_blog-filters-submit-btns.twig' %}
              </div>

            {% else %}

              {# parent only drop area (no subs) #}
              <div id="{{ item.formQueryKey ~ '_filters' }}" class="filter-area">
                <div class="uk-padding uk-background-default">
                  <div id="" class="uk-grid-small uk-child-width-auto uk-margin-remove uk-grid">

                    {# loop the inputs into the drop area #}
                    {% for _item in fn('terms_for_filters', item.taxKey, false) %}
                      <label class="uk-form-label">
                        <input
                        class="uk-checkbox uk-border-rounded {{ fn('is_term_active', _item.term_id, fn('get_query_var', item.altQueryKey)) ? 'prevent-unclick' }}"
                        type="checkbox"
                        name="{{ item.formQueryKey }}" id="{{ _item.term_id|e('esc_html') }}" value="{{ _item.slug|e('esc_html') }}"
                        {{ fn('is_term_active', _item.term_id, fn('get_query_var', item.altQueryKey)) ? 'checked' }}>
                        {{ _item.name|e('esc_html') }}
                      </label>
                    {% endfor %}

                  </div>
                </div>
                {% include '_blog-filters-submit-btns.twig' %}
              </div>

            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

  </fieldset>
</form>