{% extends 'single.twig' %}

{% block header %}
  {# {{ parent() }} #}
{% endblock %}

{% block styles %}
  {{ parent() }}
  {# google_fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  {# /google_fonts #}
  <style>

    {# vars #}
      {% set green_colour = '#227243' %}
      {% set green_colour_seethru = '#227243e6' %}
      {% set black_colour = '#000000' %}
      {% set black_colour_seethru = '#000000cc' %}
      {% set white_colour = '#ffffff' %}
      {% set yellow_colour = '#e4e400' %}
    {# /vars #}

    {# text #}

      html {
        background: #fff;
        color: #666;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        font-family: 'Mulish', sans-serif;
      }
      .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
        color: #333;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        font-weight: 900;
        font-family: 'Mulish', sans-serif;
      }

      .uk-light .uk-text-emphasis {
        color: #ffffff;
      }

      {# primary: red #}
      .uk-text-primary, .uk-light .uk-text-primary, .uk-section-primary.uk-light .uk-text-primary {
        color: {{green_colour}}!important;
      }
      {# secondary: black #}
      .uk-text-emphasis, .uk-light .uk-text-secondary {
        color: {{black_colour}}!important;
      }
      {# youtube popup icon #}
      .uk-light .uk-icon-link {
        color: hsla(0,0%,100%,1);
        transition: .1s ease-in-out;
        transition-property: color;
      }
      .uk-light .uk-icon-link:hover {
        color: {{green_colour}};
      }

      {# BIG headings #}
      .uk-heading-medium {
        font-size: 2.8875rem;
        line-height: 1.1;
      }
      @media (min-width: 960px){
        .uk-heading-medium {
          font-size: 3.5rem;
        }
      }
      @media (min-width: 1200px){
        .uk-heading-medium {
          font-size: 4.5rem;
        }
      }
      .uk-heading-large {
        font-size: 5rem;
      }
      @media (min-width: 960px){
        .uk-heading-large {
          font-size: 7rem;
        }
      }
      @media (min-width: 1200px){
        .uk-heading-large {
          font-size: 9rem;
        }
      }

      {# text effect/s #}
      .bigger-lines {
        line-height: 1.9rem;
      }

    {# /text #}

    {# backgrounds #}

      {# primary: red #}
      .uk-background-primary, .uk-section-primary {
        background-color: {{green_colour}};
      }
      .overlay-primary:after {
        background-color: {{green_colour_seethru}};
      }
      .uk-overlay-primary {
        background: {{green_colour_seethru}};
      }
      {# secondary: black #}
      .uk-section-secondary, .uk-background-secondary, .black-bg {
        background-color: {{black_colour}};
      }
      .overlay-secondary:after {
        background-color: {{black_colour_seethru}};
      }
      .uk-overlay-secondary {
        background: {{black_colour_seethru}};
      }

    {# /backgrounds #}

    {# geometry #}

      {# float box (pull up image) height #}
      .float-box.uk-height-small {
        height: 80px;
      }
      @media (min-width: 1200px){
        .float-box.uk-height-small {
          height: 200px;
        }
      }

      {# product container grid #}
      .uk-grid-large.uk-grid-column-large {
          margin-left: -70px;
      }
      @media (min-width: 1200px){
        .uk-grid-large.uk-grid-column-large {
          margin-left: -100px;
        }
      }
      .uk-grid-large.uk-grid-column-large>* {
        padding-left: 70px;
      }
      @media (min-width: 1200px){
        .uk-grid-large.uk-grid-column-large>* {
          padding-left: 100px;
        }
      }

    {# /geometry #}

    {# buttons #}

      .uk-button {
        text-transform: capitalize;
        font-weight: 700;
      }
      .uk-button-large {
        border-radius: 100px;
        font-size: .875rem;
        line-height: 60px;
        padding: 0 60px;
      }
      .uk-button-primary,
      .uk-cover-container.uk-light .uk-button-primary {
        background-color: {{green_colour}};
        color: {{white_colour}};
      }
      .uk-button-secondary {
        background-color: {{black_colour}};
      }
      .uk-light .uk-button-secondary {
        background-color: {{black_colour}};
        color: {{white_colour}};
      }

    {# /buttons #}

    {# borders #}
      .border-rounded-full {
        border-radius: 100%;
      }
    {# /borders #}

    {# transitions  & effects #}
      [class*=uk-transition-spin] {
        transition: .3s ease-out;
        transition-property: transform;
      }
      .uk-transition-active.uk-active .uk-transition-spin-round, .uk-transition-toggle .uk-transition-spin-round:focus-within, .uk-transition-toggle:focus .uk-transition-spin-round, .uk-transition-toggle:hover .uk-transition-spin-round {
        transform: rotate(30deg);
      }
      .uk-transition-active.uk-active .scale-up-bigger, .uk-transition-toggle .scale-up-bigger:focus-within, .uk-transition-toggle:focus .scale-up-bigger, .uk-transition-toggle:hover .scale-up-bigger {
        --uk-scale-x: 1.10;
        --uk-scale-y: 1.10;
      }
      .bg-scale-up {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-size .3s ease-out;
      }
      .bg-scale-up:hover {
        background-size: auto 110%!important;
      }
      .uk-navbar-toggle-animate svg[class*="line-"] {
        transition:0.2s ease-in-out;
        transition-property:transform, opacity;
        transform-origin:center;
        opacity:1
      }
      .uk-navbar-toggle svg.line-3 {
        opacity:0
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-3 {
        opacity:1
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-2 {
        transform:rotate(45deg)
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-3 {
        transform:rotate(-45deg)
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-1,
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-4 {
        opacity:0
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-1 {
        transform:translateY(6px) scaleX(0)
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-4 {
        transform:translateY(-6px) scaleX(0)
      }
      .uk-navbar-toggle-animate svg {
        width: 32px;
        height: 32px;
      }
      .lte-effect-smoke {
        position: relative;
        pointer-events: none;
      }
      .lte-effect-smoke img {
        zoom: 1;
        filter: alpha(opacity=0);
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        position: absolute;
        bottom: 0%;
        left: 50%;
        margin: 0 0 300px;
        -webkit-transform: translate(-50%, 0px);
        -moz-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
        -o-transform: translate(-50%, 0px);
        transform: translate(-50%, 0px);
        -webkit-animation: lte-smoke-1 12s infinite;
        -moz-animation: lte-smoke-1 12s infinite;
        -o-animation: lte-smoke-1 12s infinite;
        animation: lte-smoke-1 12s infinite;
      }
      .lte-effect-smoke .lte-effect-item-2 {
        animation-delay: 2s;
      }
      .lte-effect-smoke .lte-effect-item-3 {
        animation-delay: 4s;
      }
      .lte-effect-smoke .lte-effect-item-4 {
        animation-delay: 6s;
      }
      .lte-effect-smoke .lte-effect-item-5 {
        animation-delay: 8s;
      }
      .lte-effect-smoke .lte-effect-item-6 {
        animation-delay: 10s;
      }
      .lte-effect-smoke .lte-effect-item-2 img {
        animation-delay: 2s;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      .lte-effect-smoke .lte-effect-item-4 img {
        animation-delay: 6s;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      .lte-effect-smoke .lte-effect-item-6 img {
        animation-delay: 10s;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      @keyframes lte-smoke-1 {
        0% {
          opacity: 0;
          transform: translate(-50%, 650px);
        }
        50% {
          opacity: .5;
        }
        100% {
          opacity: 0;
          transform: translateY(-50%, 0px);
        }
      }
    {# /transitions #}

    {# number badges: custom element #}
      .number-badge-wrap {
        left: -40px;
        top: calc(50% - 40px);
      }
      .number-badge {
        width: 100px;
        height: 100px;
        font-weight: 700;
        font-size: 1.5rem;
        color: #fff;
        border-radius: 100%;
        position: absolute;
        opacity: 1;
      }
    {# /number #}

    {# cover & pull-up wrap #}
      .coffee_bean-container {
        max-width: 500px;
      }
      @media (min-width: 1200px){
        .coffee_bean-container {
          max-width: none;
        }
      }
    {# /cover #}

    {# nav/bar: main #}
      .main-nav .uk-navbar-item, .main-nav .uk-navbar-nav>li>a, .main-nav .uk-navbar-toggle {
        font-size: 1.2rem;
        padding: 0px 15px;
        text-transform: capitalize;
        min-height: 140px;
      }
      @media (min-width: 1200px){
        .main-nav .uk-navbar-item, .main-nav .uk-navbar-nav>li>a, .main-nav .uk-navbar-toggle {
          min-height: 260px;
        }
      }
      .uk-light .uk-navbar-nav>li>a, .uk-light .uk-navbar-toggle  {
        color: hsla(0,0%,100%,1);
      }
      .uk-light .uk-navbar-nav>li.uk-active>a {
        color: #377f53;
      }
      .uk-icon-button.uk-icon-button-large {
        height: 50px;
        width: 50px;
      }
      .uk-light .uk-icon-button {
        background-color: hsla(0,0%,100%,.1);
        color: hsla(0,0%,100%,1);
      }
      .uk-light .uk-icon-button:hover {
        background-color: #3e845b;
        color: hsla(0,0%,100%,1);
      }
    {# /nav #}

  </style>
{% endblock %}

{% block main %}
    
  {# cover #}
  <section class="">
    <div class="uk-cover-container uk-light" uk-height-viewport>
      <img src="{{theme.link}}/assets/img/coffee/beans_bg.jpg" alt="" uk-cover>
      <div class="uk-position-cover uk-overlay uk-overlay-secondary"></div>
      <div class="uk-position-top uk-light">
        <nav class="main-nav uk-navbar-container uk-navbar-transparent">
          <div class="uk-container uk-container-expand">
            <div uk-navbar>
              <div class="uk-navbar-left uk-visible@m">
                <div class="uk-navbar-item uk-flex uk-flex-left uk-flex middle uk-padding-remove-left">
                <a href="" class="uk-icon-button uk-icon-button-large uk-margin-small-right" uk-icon="icon: twitter; ratio: 1.5"></a>
                <a href="" class="uk-icon-button uk-icon-button-large uk-margin-small-right" uk-icon="icon: facebook; ratio: 1.5"></a>
                <a href="" class="uk-icon-button uk-icon-button-large" uk-icon="icon: youtube; ratio: 1.5"></a>
                </div>
              </div>
              <div class="uk-navbar-center uk-flex uk-flex-middle">
                <div class="uk-flex-left uk-visible@m">
                  <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Home</a></li>
                    <li>
                      <a href="#">About</a>
                      <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-active"><a href="#">Active</a></li>
                          <li><a href="#">Item</a></li>
                          <li><a href="#">Item</a></li>
                        </ul>
                      </div>
                    </li>
                  </ul>
                </div>
                <a class="uk-navbar-item uk-logo" href="#">
                  <img src="{{ theme.link }}/assets/img/coffee/logo/3D_white_green.png" alt="" class="uk-width-small uk-width-medium@m">
                </a>
                <div class="uk-flex-right uk-visible@m">
                  <ul class="uk-navbar-nav">
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">Contact</a></li>
                  </ul>
                </div>
              </div>
              <div class="uk-navbar-right">
                <button class="uk-navbar-toggle uk-navbar-toggle-animate uk-padding-remove-right" uk-navbar-toggle-icon aria-expanded="false" type="button" uk-toggle="target: #offcanvas-overlay" anim-target="#offcanvas-overlay"></button>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <div class="uk-position-center">
        <div class="uk-container uk-margin-large-bottom">
          <h1 class="uk-heading-large uk-text-center"><span class="uk-text-primary">Quality</span><br>Coffee & Tea</h1>
          <div class="uk-flex uk-flex-center uk-margin-medium-top">
            <a href="#" class="uk-button uk-button-large uk-button-primary">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div id="offcanvas-overlay" class="" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-padding-remove">
      <div class="overlay-wrap overlay-primary uk-light uk-width-1-1 uk-height-1-1 uk-padding-small" style="background-image: url(https://picsum.photos/id/20/1920/800);">
        <button class="uk-offcanvas-close" type="button" uk-close></button>
        <div class=" uk-position-relative uk-position-z-index">
          <h3>Title</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
    </div>
  </div>

  {# allows .uk-navbar-toggle-animate to work on uk-toggles with offcanvas as targets. needs anim-target attribute #}
  <script>
    var animated_toggles = document.querySelectorAll('.uk-navbar-toggle-animate');
    animated_toggles.forEach(item => {
      if(item.getAttribute('anim-target')){
        var target = document.querySelector(item.getAttribute('anim-target'))
        target.addEventListener('show', function(){
          if(item.ariaExpanded == 'false') item.ariaExpanded = 'true';
        }, false)
        target.addEventListener('hide', function(){
          if(item.ariaExpanded == 'true') item.ariaExpanded = 'false';
        }, false)
      }
    });
  </script>

  {# cover pull-up #}
  <section class="uk-section uk-section-primary uk-light">
    <div class="float-box uk-position-relative uk-height-small">
      <div class="uk-position-bottom-center">
        <div class="coffee_bean-container uk-container uk-container-xsmall">
          <img class="coffee_bean-img uk-padding-small uk-padding-remove-vertical" src="{{ theme.link }}/assets/img/coffee/coffee_bean.png" alt="">
        </div>
      </div>
      <div class="lte-effect-smoke">
        <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-1" alt=".">
        <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-2" alt=".">
        <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-3" alt=".">
        <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-4" alt=".">
        <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-5" alt=".">
        <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-6" alt=".">
      </div>
    </div>
  </section>

  {# about #}
  <section class="uk-section uk-section-large uk-section-default">
    <div class="uk-container uk-container-xlarge">
      <div class="uk-child-width-1-2@m uk-flex uk-flex-middle" uk-grid>
        <div>
          <h2 class="uk-h1"><span class="uk-text-primary">Arabica & Robusta</span><br>Exclusive Planted Coffee</h2>
          <p>Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros. Aliquam eget sapien sed orci accumsan interdum at ac m lorem ut ante pulvinar finibus non non metusi.</p>
          <ul class="uk-list">
            <li><a class="uk-link-text uk-text-bold uk-text-emphasis"><span class="uk-margin-small-right uk-text-primary" uk-icon="icon: download; ratio: 1.5"></span>Download</a></li>
            <li><a class="uk-link-text uk-text-bold uk-text-emphasis"><span class="uk-margin-small-right uk-text-primary" uk-icon="icon: receiver; ratio: 1.5"></span>3-068-387-01-39</a></li>
          </ul>
          <a class="uk-button uk-button-primary uk-button-large uk-margin-right">read more</a>
          <a class="uk-button uk-button-secondary uk-button-large">shop now</a>
        </div>
        <div>
          <img src="{{ theme.link }}/assets/img/coffee/about.jpg" alt="">
        </div>
      </div>
    </div>
  </section>

  {# features x4 #}
  <section class="uk-section uk-section-muted uk-section-large" style="background-image: url({{theme.link}}/assets/img/coffee/paper_bg.jpg);">
    <div class="uk-container">
      <p class="uk-text-lead uk-text-bold uk-text-emphasis uk-text-center">Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi. Etiam dictum arcu posuere mauris <span class="uk-text-primary">semper accumsan</span>. Ut vel nibh a risus hendrerit efficitur. Integer ligula lacus, placerat et egestas vel, ultricies ac purus.</p>
    </div>
    <div class="uk-container uk-container-xlarge uk-margin-large-top">
      <ul class="uk-child-width-1-4@m" uk-grid>
        <li class="uk-text-center">
          <a class="uk-transition-toggle uk-position-relative">
            <img class="uk-transition-scale-up uk-transition-spin-round uk-transition-opaque border-rounded-full" src="https://picsum.photos/id/42/800/800" width="300" height="300" alt="">
            <div class="uk-position-center-left number-badge-wrap">
              <div class="uk-background-primary uk-light uk-flex uk-flex-middle uk-flex-center uk-transition-scale-up scale-up-bigger number-badge">01</div>
            </div>
          </a>
          <h3 class="uk-h4 uk-text-emphasis uk-margin-small-bottom">Etiam dictum arcu posuere</h3>
          <p class="uk-margin-small-top">Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
        </li>
        <li class="uk-text-center">
          <a class="uk-transition-toggle uk-position-relative">
            <img class="uk-transition-scale-up uk-transition-spin-round uk-transition-opaque border-rounded-full" src="https://picsum.photos/id/42/800/800" width="300" height="300" alt="">
            <div class="uk-position-center-left number-badge-wrap">
              <div class="uk-background-primary uk-light uk-flex uk-flex-middle uk-flex-center uk-transition-scale-up scale-up-bigger number-badge">02</div>
            </div>
          </a>
          <h3 class="uk-h4 uk-text-emphasis uk-margin-small-bottom">Etiam dictum arcu posuere</h3>
          <p class="uk-margin-small-top">Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
        </li>
        <li class="uk-text-center">
          <a class="uk-transition-toggle uk-position-relative">
            <img class="uk-transition-scale-up uk-transition-spin-round uk-transition-opaque border-rounded-full" src="https://picsum.photos/id/42/800/800" width="300" height="300" alt="">
            <div class="uk-position-center-left number-badge-wrap">
              <div class="uk-background-primary uk-light uk-flex uk-flex-middle uk-flex-center uk-transition-scale-up scale-up-bigger number-badge">03</div>
            </div>
          </a>
          <h3 class="uk-h4 uk-text-emphasis uk-margin-small-bottom">Etiam dictum arcu posuere</h3>
          <p class="uk-margin-small-top">Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
        </li>
        <li class="uk-text-center">
          <a class="uk-transition-toggle uk-position-relative">
            <img class="uk-transition-scale-up uk-transition-spin-round uk-transition-opaque border-rounded-full" src="https://picsum.photos/id/42/800/800" width="300" height="300" alt="">
            <div class="uk-position-center-left number-badge-wrap">
              <div class="uk-background-primary uk-light uk-flex uk-flex-middle uk-flex-center uk-transition-scale-up scale-up-bigger number-badge">04</div>
            </div>
          </a>
          <h3 class="uk-h4 uk-text-emphasis uk-margin-small-bottom">Etiam dictum arcu posuere</h3>
          <p class="uk-margin-small-top">Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
        </li>
      </ul>
    </div>
  </section>

  {# CTAs x3 #}
  <section class="">
    <div class="uk-child-width-1-3@m uk-grid-collapse uk-grid-match" uk-grid>
      <div class="">
        <a class="uk-inline-clip uk-transition-toggle uk-position-relative">
          <img class="uk-transition-scale-up uk-transition-opaque scale-up-bigger uk-height-1-1" src="{{theme.link}}/assets/img/coffee/aroma_01.jpg" alt="">
          <div class="uk-position-top-right uk-position-large">
            <img class="" src="{{theme.link}}/assets/img/coffee/stamp.png" alt="">
          </div>
        </a>
      </div>
      <div class="uk-position-relative overlay-wrap overlay-primary uk-light uk-flex uk-flex-middle bg-scale-up" style="background-image: url({{theme.link}}/assets/img/coffee/tea_leaf_01.jpg);">
        <div class="uk-padding-large uk-position-relative uk-position-z-index">
          <h2 class="uk-heading-medium"><span class="uk-text-secondary">Divine</span><br>Aroma<br>in Every Cup</h2>
          <div class="uk-width-4-5@m">
            <p class="uk-text-emphasis bigger-lines">Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.</p>
          </div>
          <a class="uk-button uk-button-secondary uk-button-large uk-margin-medium-top">Read More</a>
        </div>
      </div>
      <div class="">
        <a class="uk-inline-clip uk-transition-toggle uk-position-relative">
          <img class="uk-transition-scale-up uk-transition-opaque scale-up-bigger uk-height-1-1" src="{{theme.link}}/assets/img/coffee/aroma_02.jpg" alt="">
        </a>
      </div>
    </div>
  </section>

  {# benefits x6 #}
  <section class="uk-section uk-section-default uk-section-large">
    <div class="uk-container uk-container-xlarge">
      <div class="uk-child-width-1-3@m uk-flex uk-flex-middle uk-grid-large" uk-grid>
        <div class="uk-width-1-4">
          <ul class="uk-list uk-list-large icon-list uk-text-left">
            <li>
              <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                <div class="uk-width-auto">
                  <span class="uk-text-primary" uk-icon="icon: check; ratio: 2"></span>
                </div>
                <div class="uk-width-expand">
                  <h4>Lorm Ipsum</h4>
                  <p>Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                <div class="uk-width-auto">
                  <span uk-icon="icon: check; ratio: 2"></span>
                </div>
                <div class="uk-width-expand">
                  <h4>Lorm Ipsum</h4>
                  <p>Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                <div class="uk-width-auto">
                  <span uk-icon="icon: check; ratio: 2"></span>
                </div>
                <div class="uk-width-expand">
                  <h4>Lorm Ipsum</h4>
                  <p>Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="uk-width-1-2">
          <img src="{{theme.link}}/assets/img/coffee/cup.jpg" alt="">
        </div>
        <div class="uk-width-1-4">
          <ul class="uk-list uk-list-large icon-list uk-text-right">
            <li>
              <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                <div class="uk-width-auto">
                  <span uk-icon="icon: check; ratio: 2"></span>
                </div>
                <div class="uk-width-expand uk-flex-first">
                  <h4>Lorm Ipsum</h4>
                  <p>Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                <div class="uk-width-auto">
                  <span uk-icon="icon: check; ratio: 2"></span>
                </div>
                <div class="uk-width-expand uk-flex-first">
                  <h4>Lorm Ipsum</h4>
                  <p>Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                <div class="uk-width-auto">
                  <span uk-icon="icon: check; ratio: 2"></span>
                </div>
                <div class="uk-width-expand uk-flex-first">
                  <h4>Lorm Ipsum</h4>
                  <p>Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  {# cover / CTA / video popup #}
  <section class="">
    <div class="uk-cover-container" uk-height-viewport>
      <img src="https://picsum.photos/id/20/1920/800" alt="" uk-cover>
      <div class="uk-position-cover uk-overlay uk-overlay-secondary uk-light uk-flex uk-flex-center uk-flex-middle uk-text-center">
        <div>
        <h2 class="uk-heading-medium"><span class="uk-text-primary">How we Prepare our Beans</span><br>Watch Video</h2>
        <a href="#" class="uk-icon-link uk-transition-scale-up uk-transition-opaque">
					<svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="none" stroke="currentColor" viewbox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle">
						<circle cx="12" cy="12" r="10"></circle>
						<polygon points="10 8 16 12 10 16 10 8"></polygon>
					</svg>
        </a>
        </div>
      </div>
    </div>
  </section>

  {# numbers x4 #}
  <section class="uk-position-relative overlay-wrap uk-section uk-section-large overlay-primary uk-light" style="background-image: url(https://picsum.photos/id/20/1920/800);">
    <div class="uk-container uk-container-xlarge uk-position-relative uk-position-z-index">
      <div class="uk-child-width-1-4@m uk-text-center" uk-grid>
        <div>
          <h3 class="uk-heading-large">37</h3>
          <h4 class="uk-h3 uk-margin-small-top">Selected Varieties</h4>
        </div>
        <div>
          <h3 class="uk-heading-large">259</h3>
          <h4 class="uk-h3 uk-margin-small-top">Hectares of Plantations</h4>
        </div>
        <div>
          <h3 class="uk-heading-large">140</h3>
          <h4 class="uk-h3 uk-margin-small-top">Coffee Pickers</h4>
        </div>
        <div>
          <h3 class="uk-heading-large">75</h3>
          <h4 class="uk-h3 uk-margin-small-top">Consumer Countries</h4>
        </div>
      </div>
    <div>
  </section>

  {# the product #}
  <section class="uk-section uk-section-default uk-section-large">
    <div class="uk-container uk-container-small uk-text-center uk-margin-large-bottom">
      <h4 class="uk-text-primary uk-margin-small-bottom">Online Store</h4>
      <h2 class="uk-margin-small-top uk-h1">Popular Products</h2>
      <p>Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros. Aliquam eget sapien sed orci accumsan interdum at ac mi.</p>
    </div>
    <div class="uk-container uk-container-xlarge">
      <div class="uk-grid-large uk-grid-column-large" uk-grid>
        <div class="uk-width-1-2@m"><img src="https://picsum.photos/id/20/800/800" alt=""></div>
        <div class="uk-width-2-5@m">
          Rated: 5.00 out of 5
          <h2>Ethiopia Arabica</h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
          <ul class="uk-list uk-list-striped">
            <li>Pure Grade</li>
            <li>Amazing Vanilla Aroma</li>
            <li>Strong Roasting</li>
            <li>Ultra Grinding</li>
          </ul>
          <div>$19.99 $16.99</div>
          <a>add to cart</a>
          <a>more info</a>
        </div>
      </div>
      <ul class="uk-child-width-1-4@m uk-grid-medium uk-margin-xlarge-top" uk-grid>
        <li class="uk-text-center">
          <img src="https://picsum.photos/id/42/800/800" alt="">
          <h3>Etiam dictum arcu posuere</h3>
          <p>Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
        </li>
        <li class="uk-text-center">
          <img src="https://picsum.photos/id/41/800/800" alt="">
          <h3>Etiam dictum arcu posuere</h3>
          <p>Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
        </li>
        <li class="uk-text-center">
          <img src="https://picsum.photos/id/52/800/800" alt="">
          <h3>Etiam dictum arcu posuere</h3>
          <p>Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
        </li>
        <li class="uk-text-center">
          <img src="https://picsum.photos/id/63/800/800" alt="">
          <h3>Etiam dictum arcu posuere</h3>
          <p>Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
        </li>
      </ul>
      <div class="uk-flex uk-flex-center uk-margin-large-top">
        <a>shop now</a>
      </div>
    </div>
  </section>

  {# website footer #}
  <footer class="uk-section uk-section-large uk-position-relative overlay-wrap overlay-secondary uk-light" style="background-image: url(https://picsum.photos/id/20/1920/800);">
    <div class="uk-container uk-container-xlarge uk-position-relative uk-position-z-index">
      <div class="uk-child-width-1-3@m uk-grid-large uk-grid-column-large" uk-grid>
        <div>
          <img src="https://picsum.photos/id/20/100/100" alt="">
          <p>Etiam consequat sem ullamcorper, euismod metus sit amet, tristique justo. Vestibulum mattis, nisi ut.</p>
          <div>
            <a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
            <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
            <a href="" class="uk-icon-button" uk-icon="youtube"></a>
          </div>
        </div>
        <div>
          <h3 class="uk-text-primary">Contact Info</h3>
          <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
            <div class="uk-width-auto">
              <span class="uk-text-primary" uk-icon="icon: location; ratio: 1.2"></span>
            </div>
            <div class="uk-width-expand">
              <h4 class="uk-h5 uk-text-primary uk-margin-remove">Our location:</h4>
              <p class="uk-margin-remove">Rio de Janeiro, RJ Brazil, 04103 Route</p>
            </div>
          </div>
          <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
            <div class="uk-width-auto">
              <span class="uk-text-primary" uk-icon="icon: location; ratio: 1.2"></span>
            </div>
            <div class="uk-width-expand">
              <h4 class="uk-h5 uk-text-primary uk-margin-remove">Phones:</h4>
              <p class="uk-margin-remove">+49078-039-23-11<br>+49078-028-55-60</p>
            </div>
          </div>
        </div>
        <div>
          <h3 class="uk-text-primary">SUbscribe</h3>
        </div>
      </div>
    <div>
  </footer>
  
{% endblock %}

{% block footer %}
  {# {{ parent() }} #}
{% endblock %}