{% extends 'single.twig' %}

{% block header %}
  {# {{ parent() }} #}
  <header>
    <nav class="main-nav uk-light uk-position-relative uk-position-z-index">
      <div class="uk-position-top-left uk-position-small uk-visible@m">
        {# main_nav_center_logo_center #}
        <a class="uk-logo" href="#">
          {% if theme.logo %}
            {# <img src="{{ theme.link }}/assets/img/coffee/logo/3D_white_green.png" alt="" class="uk-width-small uk-width-medium@m" hidden> #}
            <img src="{{ theme.logo.src|e('esc_url') }}" width="{{ theme.logo.w }}" height="{{ theme.logo.h }}" alt="{{ theme.logo.alt|e('esc_html') }}">
          {% else %}
            {# {{ site.title|e('esc_html') }} #}
            {# <div class="uk-background-primary uk-height-small uk-width-small uk-width-medium@m"></div> #}
            <img src="{{ theme.link }}/assets/img/coffee/logo/3D_white_green.png" alt="" class="uk-width-small uk-width-medium@m">
          {% endif %}
        </a>
      </div>
      <div class="uk-position-top-center uk-position-small">
        <a class="uk-logo uk-hidden@m" href="#">
          {% if theme.logo %}
            {# <img src="{{ theme.link }}/assets/img/coffee/logo/3D_white_green.png" alt="" class="uk-width-small uk-width-medium@m" hidden> #}
            <img src="{{ theme.logo.src|e('esc_url') }}" width="{{ theme.logo.w }}" height="{{ theme.logo.h }}" alt="{{ theme.logo.alt|e('esc_html') }}">
          {% else %}
            {# {{ site.title|e('esc_html') }} #}
            {# <div class="uk-background-primary uk-height-small uk-width-small uk-width-medium@m"></div> #}
            <img src="{{ theme.link }}/assets/img/coffee/logo/3D_white_green.png" alt="" class="uk-width-small uk-width-medium@m">
          {% endif %}
        </a>
        {% if has_menu_main %}
          <ul class="uk-navbar-nav main-nav-center uk-visible@l">
            {% for item in menu_main.get_items %}
              {% if item.get_children %}
                <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                  <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                  <div uk-dropdown>
                    <ul class="uk-nav uk-dropdown-nav">
                      {% for child in item.get_children %}
                        <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                          <a href="{{ child.get_link|e('esc_url') }}">{{ child.title|e('esc_html') }}</a>
                          {% if child.children %}
                            <div uk-dropdown="pos: right-top">
                              <ul class="uk-nav uk-dropdown-nav">
                                {% for third in child.children %}
                                  <li class="{{ third.classes|join(' ')|e('esc_html') }}">
                                    <a href="{{ third.get_link|e('esc_url') }}">{{ third.title|e('esc_html') }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                          {% endif %}
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </li>
              {% else %}
                <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                  <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="uk-position-top-right uk-position-small">
        <div class="uk-navbar-item main-nav-right uk-visible@l">
          {% for item in menu_socials.get_items %}
            <a href="{{ item.get_link|e('esc_url') }}" class="uk-icon-button uk-icon-button-large uk-margin-small-right" uk-icon="icon: {{ item.title|lower|e('esc_html')}}; ratio: 2.1"></a>
          {% endfor %}
        </div>
        {% if has_menu_main or has_menu_mobile %}
          <button class="uk-navbar-toggle uk-navbar-toggle-animate uk-padding-remove-right uk-hidden@l" uk-navbar-toggle-icon aria-expanded="false" type="button" uk-toggle="target: #offcanvas-overlay" anim-target="#offcanvas-overlay"></button>
        {% endif %}
      </div>
    </nav>
    {% if has_menu_main or has_menu_mobile %}
      <div id="offcanvas-overlay" class="" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-padding-remove">
          <div class="uk-background-default uk-dark uk-padding-medium uk-width-1-1 uk-height-1-1">

            <a class="uk-offcanvas-close uk-position-small uk-text-emphasis">
              <span uk-icon="icon: close; ratio: 1.5"></span>
            </a>

            <div class=" uk-position-relative uk-position-z-index">
              <a class="uk-logo" href="/">
                <div class="uk-background-muted uk-width-xsmall uk-height-xsmall"></div>
              </a>

              {# mobile menu nav #}
              <ul class="uk-nav-default uk-margin" uk-nav="multiple: true">
                {% if has_menu_mobile %}

                  {# mobile menu title #}
                  <li class="uk-nav-header uk-padding-remove uk-margin-small-bottom uk-text-capitalize" hidden>
                    {{ menu_mobile.title|e('esc_html') }}
                    <a class="uk-offcanvas-close uk-position-top-right uk-position-small uk-padding-remove"><span uk-icon="icon: close; ratio: .9"></span></a>
                  </li>

                  <li class="uk-nav-divider" hidden></li>

                  {# mobile menu items #}
                  {% for item in menu_mobile.get_items %}
                    {% if item.get_children %}
                      <li class="{{ item.classes|join(' ')|e('esc_html') }} uk-parent">
                        <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html')}} <span class="uk-icon uk-nav-parent-icon" uk-icon="icon: check; ratio: 2" hidden></span></a>
                        <ul class="uk-nav-sub">
                          {% for child in item.get_children %}
                            <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                              <a href="{{ child.get_link|e('esc_url') }}">- {{ child.title|e('esc_html')}}</a>
                              {% if child.children %}
                                <ul class="uk-nav-sub">
                                  {% for third in child.children %}
                                    <li class="{{ third.classes|join(' ')|e('esc_html') }}">
                                      <a href="{{ third.get_link|e('esc_url') }}">- {{ third.title|e('esc_html')}}</a>
                                    </li>
                                  {% endfor %}
                                </ul>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% else %}
                      <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                        <a href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html')}}</a>
                      </li>
                    {% endif %}
                  {% endfor %}

                {% else %}
                  {% if has_menu_main %}

                    {# mobile menu title #}
                    <li class="uk-nav-header uk-padding-remove uk-margin-small-bottom uk-text-capitalize" hidden>
                      {{ menu_main.title|e('esc_html') }}
                      <a class="uk-offcanvas-close uk-position-top-right uk-position-small uk-padding-remove"><span uk-icon="icon: close; ratio: .9"></span></a>
                    </li>

                    <li class="uk-nav-divider" hidden></li>

                    {# mobile menu items #}
                    {% for item in menu_main.get_items %}
                      {% if item.get_children %}
                        <li class="{{ item.classes|join(' ')|e('esc_html') }} uk-parent">
                          <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html')}} <span class="uk-icon uk-nav-parent-icon" uk-icon="icon: check; ratio: 2" hidden></span></a>
                          <ul class="uk-nav-sub">
                            {% for child in item.get_children %}
                              <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                                <a href="{{ child.get_link|e('esc_url') }}">- {{ child.title|e('esc_html')}}</a>
                                {% if child.children %}
                                  <ul class="uk-nav-sub">
                                    {% for third in child.children %}
                                      <li class="{{ third.classes|join(' ')|e('esc_html') }}">
                                        <a href="{{ third.get_link|e('esc_url') }}">- {{ third.title|e('esc_html')}}</a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                {% endif %}
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% else %}
                        <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                          <a href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html')}}</a>
                        </li>
                      {% endif %}
                    {% endfor %}

                  {% endif %}
                {% endif %}
              </ul>

            </div>

            <div class="uk-position-bottom uk-position-small">
              <div class="uk-flex uk-flex-middle uk-flex-center">
                {% for item in menu_socials.get_items %}
                  <a href="{{ item.get_link|e('esc_url') }}" class="uk-icon-button uk-icon-button-large uk-margin-small-right" uk-icon="icon: {{ item.title|lower|e('esc_html')}}; ratio: 1.5"></a>
                {% endfor %}
              </div>
            </div>

          </div>
        </div>
      </div>
    {% endif %}
  </header>

  {# <div class="uk-background-secondary" uk-height-viewport></div> #}

{% endblock %}

{% block styles %}
  {{ parent() }}
  {# google_fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  {# /google_fonts #}
  <style>

    {# vars #}
      {% set green_colour = '#608853' %}
      {% set green_colour_seethru = '#608853e6' %}
      {% set black_colour = '#000000' %}
      {% set black_colour_seethru = '#000000cc' %}
      {% set white_colour = '#ffffff' %}
      {% set white_colour_seethru = '#ffffffcc' %}
      {% set yellow_colour = '#e4e400' %}
    {# /vars #}

    {# text #}

      html {
        background: #fff;
        color: #666;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        font-family: 'Mulish', sans-serif;
      }
      .uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
        color: #333;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
        font-weight: 900;
        font-family: 'Mulish', sans-serif;
      }

      .uk-light .uk-text-emphasis {
        color: #ffffff;
      }

      {# primary: red #}
      .uk-text-primary, .uk-light .uk-text-primary, .uk-section-primary.uk-light .uk-text-primary {
        color: {{green_colour}}!important;
      }
      {# secondary: black #}
      .uk-text-emphasis, .uk-light .uk-text-secondary {
        color: {{black_colour}}!important;
      }
      {# youtube popup icon #}
      .uk-light .uk-icon-link {
        color: hsla(0,0%,100%,1);
        transition: .1s ease-in-out;
        transition-property: color;
      }
      .uk-light .uk-icon-link:hover {
        color: {{green_colour}};
      }

      {# BIG headings #}
      .uk-heading-medium {
        font-size: 2.8875rem;
        line-height: 1.1;
      }
      @media (min-width: 768px){
        .uk-heading-medium {
          font-size: 3.2rem;
        }
      }
      @media (min-width: 960px){
        .uk-heading-medium {
          font-size: 3.5rem;
        }
      }
      @media (min-width: 1200px){
        .uk-heading-medium {
          font-size: 4.5rem;
        }
      }
      .uk-heading-large {
        font-size: 4rem;
      }
      @media (min-width: 480px){
        .uk-heading-large {
          font-size: 5rem;
        }
      }
      @media (min-width: 768px){
        .uk-heading-large {
          font-size: 6rem;
        }
      }
      @media (min-width: 960px){
        .uk-heading-large {
          font-size: 7rem;
        }
      }
      @media (min-width: 1200px){
        .uk-heading-large {
          font-size: 8rem;
        }
      }
      @media (min-width: 1600px){
        .uk-heading-large {
          font-size: 9rem;
        }
      }

      {# text effect/s #}
      .bigger-lines {
        line-height: 1.9rem;
      }

      {# leads #}
      .uk-text-lead {
        font-size: 1.2rem;
        line-height: 1.2;
      }
      @media (min-width: 1200px){
        .uk-text-lead {
          font-size: 1.5rem;
          line-height: 1.5;
        }
      }

    {# /text #}

    {# backgrounds #}

      {# primary: red #}
      .uk-background-primary, .uk-section-primary {
        background-color: {{green_colour}};
      }
      .overlay-primary:after {
        background-color: {{green_colour_seethru}};
      }
      .uk-overlay-primary {
        background: {{green_colour_seethru}};
      }
      {# secondary: black #}
      .uk-section-secondary, .uk-background-secondary, .black-bg {
        background-color: {{black_colour}};
      }
      .overlay-secondary:after {
        background-color: {{black_colour_seethru}};
      }
      .uk-overlay-secondary {
        background: {{black_colour_seethru}};
      }
      .overlay-default:after {
        background-color: {{white_colour_seethru}};
      }

    {# /backgrounds #}

    {# buttons #}

      .uk-button {
        text-transform: capitalize;
        font-weight: 700;
      }
      .uk-button-large {
        border-radius: 100px;
        font-size: 1rem;
        line-height: 60px;
        padding: 0 60px;
      }
      @media (min-width: 960px){
        .uk-button-large {
          border-radius: 100px;
          font-size: 1rem;
          line-height: 70px;
          padding: 0 70px;
        }
      }
      @media (min-width: 1200px){
        .uk-button-large {
          border-radius: 100px;
          font-size: 1rem;
          line-height: 80px;
          padding: 0 80px;
        }
      }
      .uk-button-primary,
      .uk-cover-container.uk-light .uk-button-primary,
      .uk-icon-button.uk-background-primary {
        background-color: {{green_colour}}!important;
        color: {{white_colour}};
      }
      .uk-button-secondary {
        background-color: {{black_colour}};
      }
      .uk-light .uk-button-secondary {
        background-color: {{black_colour}};
        color: {{white_colour}};
      }

    {# /buttons #}

    {# borders #}
      .border-rounded-full {
        border-radius: 100%;
      }
    {# /borders #}

    {# transitions  & effects #}
      [class*=uk-transition-spin] {
        transition: .3s ease-out;
        transition-property: transform;
      }
      .uk-transition-active.uk-active .uk-transition-spin-round, .uk-transition-toggle .uk-transition-spin-round:focus-within, .uk-transition-toggle:focus .uk-transition-spin-round, .uk-transition-toggle:hover .uk-transition-spin-round {
        transform: rotate(30deg);
      }
      .uk-transition-active.uk-active .scale-up-bigger, .uk-transition-toggle .scale-up-bigger:focus-within, .uk-transition-toggle:focus .scale-up-bigger, .uk-transition-toggle:hover .scale-up-bigger {
        --uk-scale-x: 1.10;
        --uk-scale-y: 1.10;
      }
      .bg-scale-up {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: background-size .3s ease-out;
      }
      .bg-scale-up:hover {
        background-size: auto 110%!important;
      }
      .uk-navbar-toggle-animate svg[class*="line-"] {
        transition:0.2s ease-in-out;
        transition-property:transform, opacity;
        transform-origin:center;
        opacity:1
      }
      .uk-navbar-toggle svg.line-3 {
        opacity:0
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-3 {
        opacity:1
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-2 {
        transform:rotate(45deg)
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-3 {
        transform:rotate(-45deg)
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-1,
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-4 {
        opacity:0
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-1 {
        transform:translateY(6px) scaleX(0)
      }
      .uk-navbar-toggle-animate[aria-expanded="true"] svg.line-4 {
        transform:translateY(-6px) scaleX(0)
      }
      .uk-navbar-toggle-animate svg {
        width: 32px;
        height: 32px;
      }
      .lte-effect-smoke {
        position: relative;
        pointer-events: none;
      }
      .lte-effect-smoke img {
        zoom: 1;
        filter: alpha(opacity=0);
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        position: absolute;
        bottom: 0%;
        left: 50%;
        margin: 0 0 300px;
        -webkit-transform: translate(-50%, 0px);
        -moz-transform: translate(-50%, 0px);
        -ms-transform: translate(-50%, 0px);
        -o-transform: translate(-50%, 0px);
        transform: translate(-50%, 0px);
        -webkit-animation: lte-smoke-1 12s infinite;
        -moz-animation: lte-smoke-1 12s infinite;
        -o-animation: lte-smoke-1 12s infinite;
        animation: lte-smoke-1 12s infinite;
      }
      .lte-effect-smoke .lte-effect-item-2 {
        animation-delay: 2s;
      }
      .lte-effect-smoke .lte-effect-item-3 {
        animation-delay: 4s;
      }
      .lte-effect-smoke .lte-effect-item-4 {
        animation-delay: 6s;
      }
      .lte-effect-smoke .lte-effect-item-5 {
        animation-delay: 8s;
      }
      .lte-effect-smoke .lte-effect-item-6 {
        animation-delay: 10s;
      }
      .lte-effect-smoke .lte-effect-item-2 img {
        animation-delay: 2s;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      .lte-effect-smoke .lte-effect-item-4 img {
        animation-delay: 6s;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      .lte-effect-smoke .lte-effect-item-6 img {
        animation-delay: 10s;
        -webkit-transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      @keyframes lte-smoke-1 {
        0% {
          opacity: 0;
          transform: translate(-50%, 650px);
        }
        50% {
          opacity: .5;
        }
        100% {
          opacity: 0;
          transform: translateY(-50%, 0px);
        }
      }
    {# /transitions #}

    {# number badges: custom element #}
      .number-badge-wrap {
        left: -40px;
        top: calc(50% - 40px);
      }
      .number-badge {
        width: 70px;
        height: 70px;
        font-weight: 700;
        font-size: 1.2rem;
        color: #fff;
        border-radius: 100%;
        position: absolute;
        opacity: 1;
        left: 20px;
      }
      @media (min-width: 960px){
        .number-badge {
          width: 100px;
          height: 100px;
          font-size: 1.5rem;
        }
      }
    {# /number #}

    {# cover & pull-up wrap #}
      .coffee_bean-container {
        max-width: 500px;
      }
      @media (min-width: 1200px){
        .coffee_bean-container {
          max-width: none;
        }
      }
    {# /cover #}

    {# nav/bar: main #}
      .main-nav .uk-navbar-item, .main-nav .uk-navbar-nav>li>a, .main-nav .uk-navbar-toggle {
        font-size: 1.2rem;
        padding: 0px 15px;
        text-transform: capitalize;
      }
      .main-nav-center.uk-navbar-item, .main-nav-center.uk-navbar-nav>li>a, .main-nav-center.uk-navbar-toggle {
        min-height: 130px;
      }
      .main-nav-right.uk-navbar-item, .main-nav-right.uk-navbar-nav>li>a, .main-nav-right.uk-navbar-toggle {
        min-height: 130px;
      }
      @media (min-width: 1200px){
        .main-nav-center.uk-navbar-item, .main-nav-center.uk-navbar-nav>li>a, .main-nav-center.uk-navbar-toggle {
          min-height: 130px;
        }
        .main-nav-right.uk-navbar-item, .main-nav-right.uk-navbar-nav>li>a, .main-nav-right.uk-navbar-toggle {
          min-height: 130px;
        }
      }
      .uk-light .uk-navbar-nav>li>a, .uk-light .uk-navbar-toggle  {
        color: hsla(0,0%,100%,1);
      }
      .uk-light .uk-navbar-nav>li.uk-active>a {
        color: {{green_colour}};
      }
      .uk-icon-button.uk-icon-button-large {
        height: 70px;
        width: 70px;
      }
      .uk-light .uk-icon-button {
        background-color: hsla(0,0%,100%,.1);
        color: hsla(0,0%,100%,1);
      }
      .uk-light .uk-icon-button:hover {
        background-color: #3e845b;
        color: hsla(0,0%,100%,1);
      }
    {# /nav #}

    {# util #}
      .large-right {
        padding-right: 100px;
      }
      .full-height-viewport {
        height: 100vh;
      }
    {# /util #}

    {# lists #}
      .uk-list-xlarge>*>ul, .uk-list-xlarge>:nth-child(n+2) {
        margin-top: 50px;
      }
    {# /lists #}

    {# dividers #}
      .uk-divider-small:after {
        border-top: 8px solid #608853;
        border-radius: 100px;
        width: 60px;
      }
      .primary-divider:after {
        width: 250px;
        border-radius: 0;
        border-color: #608853!important;
        border-width: medium;
      }
    {# /dividers #}

    {# Swiper styles #}
      .swiper, swiper-container {
        padding: 0;
      }
      @media (min-width: 640px){
        .swiper, swiper-container {
          padding: 0 20px;
        }
      }
      .uk-light .swiper-pagination-bullet {
        background: #fff;
      }
      .swiper-pagination-bullet-active {
        background: #608853!important;
      }
    {# /Swiper styles #}

    {# footer #}
      footer .uk-logo .uk-width-medium {
        width: 250px;
      }
      .footer-nav {
        column-count: 2;
        column-gap: 10px;
        font-size: 1.2rem;
      }
      .footer-nav>* {
        padding-left: 20px;
      }
    {# /footer #}

    {# geometry #}

      {# float box (pull up image) height #}
      .float-box {
        height: 80px;
      }
      @media (min-width: 480px){
        .float-box {
          height: 100px;
        }
      }
      @media (min-width: 768px){
        .float-box {
          height: 120px;
        }
      }
      @media (min-width: 960px){
        .float-box {
          height: 150px;
        }
      }
      @media (min-width: 1200px){
        .float-box {
          height: 350px;
        }
      }
      @media (min-width: 1600px){
        .float-box {
          height: 350px;
        }
      }

      {# product container grid #}
      .uk-grid-large.uk-grid-column-large {
        margin-left: -70px;
      }
      @media (min-width: 1200px){
        .uk-grid-large.uk-grid-column-large {
          margin-left: -100px;
        }
      }
      .uk-grid-large.uk-grid-column-large>* {
        padding-left: 70px;
      }
      @media (min-width: 1200px){
        .uk-grid-large.uk-grid-column-large>* {
          padding-left: 100px;
        }
      }

    {# /geometry #}

    {# more #}

      .uk-padding-medium {
        padding: 20px;
      }

      .uk-nav>li>a {
        font-weight: 800;
      }
      .uk-nav-default>li>a,
      .uk-nav-default>li>a:hover {
        color: #333;
      }
      .uk-nav-default>li.uk-active>a {
        color: {{green_colour}};
      }

      .uk-offcanvas-bar {
        width: 86%;
        max-width: 450px!important;
      }
      .uk-offcanvas-bar .uk-nav-default {
        font-size: 1.1rem;
      }
      .uk-offcanvas-bar .uk-nav-default li>a {
        display: block;
      }
      .uk-offcanvas-bar .uk-nav-default li.uk-parent>a::before {
        content: "";
        width: 1.4em;
        height: 1.4em;
        margin-left: 10px;
        float: right;
        background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%222%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%222%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E);
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
      .uk-offcanvas-bar .uk-nav-default li.uk-parent.uk-open>a::before {
        background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20width%3D%2213%22%20height%3D%222%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E);
      }

      .uk-light .uk-background-muted {
        background-color: #ffffff17;
      }

      .uk-width-xsmall {
        width: 100px;
      }
      .uk-height-xsmall {
        height: 100px;
      }
      .uk-width-small {
        width: 160px;
      }
      @media (min-width: 960px){
        .uk-width-medium\@m {
          width: 270px;
        }
      }

      .overlay-primary.uk-light .uk-text-primary {
        color: #0e0e0e!important;
      }


    {# /more #}

  </style>
{% endblock %}

{% block main %}
  <div>

    {# cover #}
    <section class="">
      <div class="uk-cover-container uk-light" uk-height-viewport>
        <img src="{{ _x('https://test.com/wp-content/themes/base-theme/assets/img/coffee/beans_bg.jpg', 'Homepage Section: Cover - background image url', 'base-theme')|e('esc_url') }}" alt="" uk-cover>
        <div class="uk-position-cover uk-overlay uk-overlay-secondary"></div>
        <div class="uk-position-center uk-position-z-index">
          <div class="uk-container uk-margin-large-bottom">
            <h1 class="uk-heading-large uk-text-center">
              {{ _x('<span class="uk-text-primary">Quality</span><br>Coffee & Tea', 'Homepage Section: Cover - heading', 'base-theme')|e('wp_kses_post') }}
            </h1>
            <div class="uk-flex uk-flex-center uk-margin-medium-top">
              {{ _x('<a href="#About" class="uk-button uk-button-large uk-button-primary" uk-scroll>Learn More</a>', 'Homepage Section: Cover - button', 'base-theme')|e('wp_kses_post') }}
            </div>
          </div>
        </div>
      </div>
    </section>

    {# cover pull-up #}
    <section class="uk-background-primary">
      <div class="float-box uk-position-relative">
        <div class="uk-position-bottom-center">
          <div class="coffee_bean-container uk-container uk-container-xsmall">
            <img class="coffee_bean-img uk-padding-small uk-padding-remove-vertical" src="{{ theme.link }}/assets/img/coffee/coffee_bean.png" alt="">
          </div>
        </div>
        <div class="lte-effect-smoke">
          <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-1" alt=".">
          <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-2" alt=".">
          <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-3" alt=".">
          <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-4" alt=".">
          <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-5" alt=".">
          <img src="{{theme.link}}/assets/img/coffee/smoke.png" class="lte-effect-item-6" alt=".">
        </div>
      </div>
    </section>

    {# about #}
    <section id="About" class="uk-section uk-section-large uk-section-default">
      <div class="uk-container uk-container-large">
        <div class="uk-child-width-1-2@s uk-flex uk-flex-middle" uk-grid>
          <div>
            <h2 class="uk-h1">{{ _x('<span class="uk-text-primary">Arabica & Robusta</span><br>Exclusive Planted Coffee', 'Homepage Section: About - heading', 'base-theme')|e('wp_kses_post') }}</h2>
            <p>{{ _x('Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros. Aliquam eget sapien sed orci accumsan interdum at ac m lorem ut ante pulvinar finibus non non metusi. Maecenas dapibus mattis eros, at fermentum sapien.', 'Homepage Section: About - Message', 'base-theme')|e('wp_kses_post') }}</p>
            {{ _x('<a href="#Categories" class="uk-button uk-button-secondary uk-button-large uk-margin-small" uk-scroll>Read More</a>', 'Homepage Section: Cover - button 1', 'base-theme')|e('wp_kses_post') }}
            {{ _x('<a href="/shop" class="uk-button uk-button-primary uk-button-large" uk-scroll>Shop Now</a>', 'Homepage Section: Cover - button 2', 'base-theme')|e('wp_kses_post') }}
          </div>
          <div class="uk-flex-first uk-flex-last@s">
            <img src="{{ _x('https://test.com/wp-content/themes/base-theme/assets/img/coffee/about.png', 'Homepage Section: About - image url', 'base-theme')|e('esc_url') }}" alt="">
          </div>
        </div>
      </div>
    </section>

    {# cats x4 #}
    {% if cats_terms is not empty %}
      <section id="Categories" class="uk-section uk-section-large uk-position-relative overlay-wrap overlay-secondary uk-light" style="background-image: url({{ _x('https://test.com/wp-content/themes/base-theme/assets/img/coffee/beans_bg.jpg', 'Homepage Section: Categories - background image url', 'base-theme')|e('esc_url') }});">
        <div class="uk-position-relative uk-position-z-index">
          <div class="uk-container uk-text-center uk-margin-medium-bottom">
            <h2 class="uk-h2">
              {{ _x('<span class="uk-text-primary">Coffeeandtea.ie</span><br>The Products We offer', 'Homepage Section: Categories - heading', 'base-theme')|e('wp_kses_post') }}
            </h2>
            <hr class="uk-divider-small">
            <p class="uk-text-lead uk-text-bold uk-text-emphasis uk-text-center">{{ _x('Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi. Etiam dictum arcu posuere mauris <span class="uk-text-primary">semper accumsan</span>. Ut vel nibh a risus hendrerit efficitur. Integer ligula lacus, placerat et egestas vel, ultricies ac purus.', 'Homepage Section: Categories - message', 'base-theme')|e('wp_kses_post') }}</p>
          </div>
          <div class="uk-container uk-container-xlarge uk-margin-large-top">
            <div class="four-items-swipe swiper mySwiper">
              <div class="swiper-wrapper">
                {% set last_of_loop = '' %}
                {% for cat in cats_terms %}
                  <div class="swiper-slide uk-position-relative">
                    <div class="uk-height-1-1 uk-width-1-1">
                      <div class="uk-text-center uk-padding-small">
                        <a href="{{ cat.link|e('esc_url') }}" class="uk-transition-toggle uk-position-relative">
                          <img class="uk-transition-scale-up uk-transition-spin-round uk-transition-opaque border-rounded-full" src="{{ cat.thumbnail.src|resize(300, 300)|e('esc_url') }}" width="300" height="300" alt="">
                          <div class="uk-position-center-left number-badge-wrap">
                            <div class="uk-background-primary uk-light uk-flex uk-flex-middle uk-flex-center uk-transition-scale-up scale-up-bigger number-badge">{% if loop.index in range(1, 9) %}0{% endif %}{{ loop.index }}</div>
                            {% set last_of_loop = loop.index + 1 %}
                          </div>
                        </a>
                        <h3 class="uk-h3 uk-text-emphasis uk-margin-small-bottom uk-text-primary">{{ cat.name|e('esc_html') }}</h3>
                        <p class="uk-text-emphasis uk-margin-small-top">{{ cat.description|e('wp_kses_post') }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% if shop_url %}
                  <div class="swiper-slide uk-position-relative">
                    <div class="uk-height-1-1 uk-width-1-1">
                    <div class="uk-text-center uk-padding-small">
                      <a href="{{ shop_url|e('esc_url') }}" class="uk-transition-toggle uk-position-relative">
                        <img class="uk-transition-scale-up uk-transition-spin-round uk-transition-opaque border-rounded-full" src="{{ configs.theme_defaults.thumbnail.src_square }}" width="300" height="300" alt="">
                        <div class="uk-position-center-left number-badge-wrap">
                          <div class="uk-background-primary uk-light uk-flex uk-flex-middle uk-flex-center uk-transition-scale-up scale-up-bigger number-badge">{% if last_of_loop in range(1, 9) %}0{% endif %}{{ last_of_loop }}</div>
                        </div>
                      </a>
                      <h3 class="uk-h3 uk-text-emphasis uk-margin-small-bottom uk-text-primary">{{ _x('Visit Shop', 'Homepage Section: Categories - view all heading', 'base-theme')|e('esc_html') }}</h3>
                      <p class="uk-text-emphasis uk-margin-small-top">{{ _x('Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi', 'Homepage Section: Categories - view all message', 'base-theme')|e('esc_html') }}</p>
                    </div>
                    </div>
                  </div>
                {% endif %}
              </div>
              <div class="swiper-pagination swiper-pagination-four-items uk-position-relative"></div>
            </div>
          </div>
        </div>
      </section>
    {% endif %}

    {# numbers x4 #}
    <section class="uk-section overlay-wrap overlay-primary uk-light uk-position-relative uk-background-cover" style="background-image: url({{ _x('https://test.com/wp-content/themes/base-theme/assets/img/coffee/tea_leaf_01.jpg', 'Homepage Section: Numbers - background image url', 'base-theme')|e('esc_url') }});">
      <div class="uk-container uk-container-xlarge uk-position-relative uk-position-z-index">
        <div class="numbers-swipe swiper mySwiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide uk-position-relative uk-text-center">
              <h3 class="uk-heading-large">{{ _x('37', 'Homepage Section: Numbers - number 1', 'base-theme')|e('esc_html') }}</h3>
              <h4 class="uk-h3 uk-margin-small-top">{{ _x('Selected Varieties', 'Homepage Section: Numbers - number 1 text', 'base-theme')|e('esc_html') }}</h4>
            </div>
            <div class="swiper-slide uk-position-relative uk-text-center">
              <h3 class="uk-heading-large">{{ _x('259', 'Homepage Section: Numbers - number 2', 'base-theme')|e('esc_html') }}</h3>
              <h4 class="uk-h3 uk-margin-small-top">{{ _x('Hectares of Plantations', 'Homepage Section: Numbers - number 2 text', 'base-theme')|e('esc_html') }}</h4>
            </div>
            <div class="swiper-slide uk-position-relative uk-text-center">
              <h3 class="uk-heading-large">{{ _x('140', 'Homepage Section: Numbers - number 3', 'base-theme')|e('esc_html') }}</h3>
              <h4 class="uk-h3 uk-margin-small-top">{{ _x('Coffee Pickers', 'Homepage Section: Numbers - number 3 text', 'base-theme')|e('esc_html') }}</h4>
            </div>
            <div class="swiper-slide uk-position-relative uk-text-center">
              <h3 class="uk-heading-large">{{ _x('75', 'Homepage Section: Numbers - number 4', 'base-theme')|e('esc_html') }}</h3>
              <h4 class="uk-h3 uk-margin-small-top">{{ _x('Consumer Countries', 'Homepage Section: Numbers - number 4 text', 'base-theme')|e('esc_html') }}</h4>
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-numbers uk-position-relative"></div>
        </div>
      <div>
    </section>

    {# benefits x6 #}
    <section class="uk-section uk-section-default uk-section-large" style="background-image: url({{theme.link}}/assets/img/coffee/paper_bg.jpg);">
      <div class="uk-container uk-container-small uk-text-center uk-margin-medium-bottom">
        <h2 class="uk-h2">
          {{ _x('<span class="uk-text-primary">Coffeeandtea.ie</span><br>The benefits of shopping with us', 'Homepage Section: Benefits - heading', 'base-theme')|e('wp_kses_post') }}
        </h2>
        <hr class="uk-divider-small">
        <p class="uk-text-lead">{{ _x('Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros. Aliquam eget sapien sed orci accumsan interdum at ac m lorem ut ante pulvinar finibus non non metusi.', 'Homepage Section: Benefits - message', 'base-theme')|e('wp_kses_post') }}</p>
      </div>
      <div class="uk-container uk-container-xlarge">
        <div class="uk-flex uk-flex-middle uk-grid-large uk-visible@m" uk-grid>
          <div class="uk-width-1-4@m">
            <ul class="uk-list uk-list-xlarge icon-list uk-text-left">
              <li>
                {% set benefit_one %}
                  <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                    <div class="uk-width-auto">
                      {{ _x('<span class="uk-text-primary" uk-icon="icon: rmcc-delivery-truck; ratio: 5"></span>', 'Homepage Section: Benefits - benefit 1 icon', 'base-theme')|e('wp_kses_post') }}
                    </div>
                    <div class="uk-width-expand">
                      <h4 class="uk-h3 uk-margin-small-bottom">{{ _x('Lorm Ipsum', 'Homepage Section: Benefits - benefit 1 heading', 'base-theme')|e('esc_html') }}</h4>
                      <p class="uk-margin-small-top">{{ _x('Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.', 'Homepage Section: Benefits - benefit 1 message', 'base-theme')|e('esc_html') }}</p>
                    </div>
                  </div>
                {% endset %}
                {{ benefit_one }}
              </li>
              <li>
                {% set benefit_two %}
                  <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                    <div class="uk-width-auto">
                      {{ _x('<span class="uk-text-primary" uk-icon="icon: rmcc-tea-bag; ratio: 5"></span>', 'Homepage Section: Benefits - benefit 2 icon', 'base-theme')|e('wp_kses_post') }}
                    </div>
                    <div class="uk-width-expand">
                      <h4 class="uk-h3 uk-margin-small-bottom">{{ _x('Lorm Ipsum', 'Homepage Section: Benefits - benefit 2 heading', 'base-theme')|e('esc_html') }}</h4>
                      <p class="uk-margin-small-top">{{ _x('Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.', 'Homepage Section: Benefits - benefit 2 message', 'base-theme')|e('esc_html') }}</p>
                    </div>
                  </div>
                {% endset %}
                {{ benefit_two }}
              </li>
              <li>
                {% set benefit_three %}
                  <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                    <div class="uk-width-auto">
                      {{ _x('<span class="uk-text-primary" uk-icon="icon: rmcc-roaster; ratio: 5"></span>', 'Homepage Section: Benefits - benefit 3 icon', 'base-theme')|e('wp_kses_post') }}
                    </div>
                    <div class="uk-width-expand">
                      <h4 class="uk-h3 uk-margin-small-bottom">{{ _x('Lorm Ipsum', 'Homepage Section: Benefits - benefit 3 heading', 'base-theme')|e('esc_html') }}</h4>
                      <p class="uk-margin-small-top">{{ _x('Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.', 'Homepage Section: Benefits - benefit 3 message', 'base-theme')|e('esc_html') }}</p>
                    </div>
                  </div>
                {% endset %}
                {{ benefit_three }}
              </li>
            </ul>
          </div>
          <div class="uk-width-1-4@m uk-flex-last@m">
            <ul class="uk-list uk-list-xlarge icon-list uk-text-right@m">
              <li>
                {% set benefit_four %}
                  <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                    <div class="uk-width-auto">
                      {{ _x('<span class="uk-text-primary" uk-icon="icon: rmcc-sustainable; ratio: 5"></span>', 'Homepage Section: Benefits - benefit 4 icon', 'base-theme')|e('wp_kses_post') }}
                    </div>
                    <div class="uk-width-expand uk-flex-first@m">
                      <h4 class="uk-h3 uk-margin-small-bottom">{{ _x('Lorm Ipsum', 'Homepage Section: Benefits - benefit 4 heading', 'base-theme')|e('esc_html') }}</h4>
                      <p class="uk-margin-small-top">{{ _x('Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.', 'Homepage Section: Benefits - benefit 4 message', 'base-theme')|e('esc_html') }}</p>
                    </div>
                  </div>
                {% endset %}
                {{ benefit_four }}
              </li>
              <li>
                {% set benefit_five %}
                  <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                    <div class="uk-width-auto">
                      {{ _x('<span class="uk-text-primary" uk-icon="icon: rmcc-badge; ratio: 5"></span>', 'Homepage Section: Benefits - benefit 5 icon', 'base-theme')|e('wp_kses_post') }}
                    </div>
                    <div class="uk-width-expand uk-flex-first@m">
                      <h4 class="uk-h3 uk-margin-small-bottom">{{ _x('Lorm Ipsum', 'Homepage Section: Benefits - benefit 5 heading', 'base-theme')|e('esc_html') }}</h4>
                      <p class="uk-margin-small-top">{{ _x('Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.', 'Homepage Section: Benefits - benefit 5 message', 'base-theme')|e('esc_html') }}</p>
                    </div>
                  </div>
                {% endset %}
                {{ benefit_five }}
              </li>
              <li>
                {% set benefit_six %}
                  <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                    <div class="uk-width-auto">
                      {{ _x('<span class="uk-text-primary" uk-icon="icon: rmcc-cup; ratio: 5"></span>', 'Homepage Section: Benefits - benefit 6 icon', 'base-theme')|e('wp_kses_post') }}
                    </div>
                    <div class="uk-width-expand uk-flex-first@m">
                      <h4 class="uk-h3 uk-margin-small-bottom">{{ _x('Lorm Ipsum', 'Homepage Section: Benefits - benefit 6 heading', 'base-theme')|e('esc_html') }}</h4>
                      <p class="uk-margin-small-top">{{ _x('Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.', 'Homepage Section: Benefits - benefit 6 message', 'base-theme')|e('esc_html') }}</p>
                    </div>
                  </div>
                {% endset %}
                {{ benefit_six }}
              </li>
            </ul>
          </div>
          <div class="uk-width-1-2@m uk-visible@m">
            <img src="{{theme.link}}/assets/img/coffee/cup.png" alt="">
          </div>
        </div>
        <div class="benefits-swipe swiper mySwiper uk-hidden@m">
          <div class="swiper-wrapper">
            <div class="swiper-slide uk-position-relative">
              {{ benefit_one }}
            </div>
            <div class="swiper-slide uk-position-relative">
              {{ benefit_two }}
            </div>
            <div class="swiper-slide uk-position-relative">
              {{ benefit_three }}
            </div>
            <div class="swiper-slide uk-position-relative">
              {{ benefit_four }}
            </div>
            <div class="swiper-slide uk-position-relative">
              {{ benefit_five }}
            </div>
            <div class="swiper-slide uk-position-relative">
              {{ benefit_six }}
            </div>
          </div>
          <div class="swiper-pagination swiper-pagination-benefits uk-position-relative uk-margin-top"></div>
        </div>
      </div>
    </section>

    {# CTAs x3 #}
    <section class="">
      <div class="uk-child-width-1-3@m uk-grid-collapse uk-grid-match" uk-grid>
        <div class="">
          <a class="uk-inline-clip uk-transition-toggle uk-position-relative">
            <img class="uk-transition-scale-up uk-transition-opaque scale-up-bigger uk-height-1-1" src="{{theme.link}}/assets/img/coffee/aroma_01.jpg" alt="">
            <div class="uk-position-top-right uk-position-large">
              <img class="" src="{{theme.link}}/assets/img/coffee/stamp.png" alt="">
            </div>
          </a>
        </div>
        <div class="uk-position-relative overlay-wrap overlay-primary uk-light uk-flex uk-flex-middle uk-background-cover" style="background-image: url({{theme.link}}/assets/img/coffee/leaves_overlay_bg_small.png);">
          <div class="uk-padding-large uk-position-relative uk-position-z-index">
            <h2 class="uk-heading-medium"><span class="uk-text-secondary">Divine</span><br>Aroma<br>in Every Cup</h2>
            <div class="uk-width-4-5@m">
              <p class="uk-text-emphasis bigger-lines">Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros.</p>
            </div>
            <a class="uk-button uk-button-secondary uk-button-large uk-margin-medium-top">Read More</a>
          </div>
        </div>
        <div class="">
          <a class="uk-inline-clip uk-transition-toggle uk-position-relative">
            <img class="uk-transition-scale-up uk-transition-opaque scale-up-bigger uk-height-1-1" src="{{theme.link}}/assets/img/coffee/aroma_02.jpg" alt="">
          </a>
        </div>
      </div>
    </section>

    {# cover / CTA / video popup #}
    <section class="">
      <div class="uk-cover-container" uk-height-viewport>
        <img src="https://test.com/wp-content/themes/base-theme/assets/img/coffee/beans_bg.jpg" alt="" uk-cover>
        <div class="uk-position-cover uk-overlay uk-overlay-secondary uk-light uk-flex uk-flex-center uk-flex-middle uk-text-center">
          <div>
          <h2 class="uk-heading-medium"><span class="uk-text-primary">How we Prepare our Beans</span><br>Watch Video</h2>
          <a href="#" class="uk-icon-link uk-transition-scale-up uk-transition-opaque">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="none" stroke="currentColor" viewbox="0 0 24 24" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-play-circle">
              <circle cx="12" cy="12" r="10"></circle>
              <polygon points="10 8 16 12 10 16 10 8"></polygon>
            </svg>
          </a>
          </div>
        </div>
      </div>
    </section>

    {# the product #}
    <section class="uk-section uk-section-default uk-section-large" hidden>
      <div class="uk-container uk-container-small uk-text-center uk-margin-large-bottom">
        <h4 class="uk-text-primary uk-margin-small-bottom">Online Store</h4>
        <h2 class="uk-margin-small-top uk-h1">Popular Products</h2>
        <p>Maecenas dapibus mattis eros, at fermentum sapien malesuada sit amet. Quisque in sollicitudin eros. Aliquam eget sapien sed orci accumsan interdum at ac mi.</p>
      </div>
      <div class="uk-container uk-container-xlarge">
        <div class="uk-grid-large uk-grid-column-large" uk-grid>
          <div class="uk-width-1-2@m"><img src="https://picsum.photos/id/20/800/800" alt=""></div>
          <div class="uk-width-2-5@m">
            Rated: 5.00 out of 5
            <h2>Ethiopia Arabica</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <ul class="uk-list uk-list-striped">
              <li>Pure Grade</li>
              <li>Amazing Vanilla Aroma</li>
              <li>Strong Roasting</li>
              <li>Ultra Grinding</li>
            </ul>
            <div>$19.99 $16.99</div>
            <a>add to cart</a>
            <a>more info</a>
          </div>
        </div>
        <ul class="uk-child-width-1-4@m uk-grid-medium uk-margin-xlarge-top" uk-grid>
          <li class="uk-text-center">
            <img src="https://picsum.photos/id/42/800/800" alt="">
            <h3>Etiam dictum arcu posuere</h3>
            <p>Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
          </li>
          <li class="uk-text-center">
            <img src="https://picsum.photos/id/41/800/800" alt="">
            <h3>Etiam dictum arcu posuere</h3>
            <p>Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
          </li>
          <li class="uk-text-center">
            <img src="https://picsum.photos/id/52/800/800" alt="">
            <h3>Etiam dictum arcu posuere</h3>
            <p>Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
          </li>
          <li class="uk-text-center">
            <img src="https://picsum.photos/id/63/800/800" alt="">
            <h3>Etiam dictum arcu posuere</h3>
            <p>Morbi eu varius neque, a ultricies sem. Fusce vitae convallis mi</p>
          </li>
        </ul>
        <div class="uk-flex uk-flex-center uk-margin-large-top">
          <a>shop now</a>
        </div>
      </div>
    </section>

  </div>
{% endblock %}

{% block footer %}
  {# {{ parent() }} #}

  {# website footer #}
  <footer class="uk-position-relative overlay-wrap overlay-secondary uk-light" style="background-image: url({{theme.link}}/assets/img/coffee/beans_bg.jpg);" hidden>
    <div class="uk-position-relative uk-position-z-index">
      <div class="uk-section uk-section-large uk-container uk-container-xlarge">
        <ul class="uk-child-width-1-3@m uk-grid-large uk-grid-column-large" uk-grid>
          <li>
            <div class="large-right">
              <a class="uk-logo" href="/">
                <img src="{{ theme.link }}/assets/img/coffee/logo/3D_white_green.png" alt="" class="uk-width-medium">
              </a>
              <p>Etiam consequat sem ullamcorper, euismod metus sit amet, tristique justo. Vestibulum mattis, nisi ut.</p>
              <div class="uk-flex uk-flex-left uk-flex middle">
                <a href="" class="uk-icon-button uk-icon-button-large uk-margin-small-right" uk-icon="icon: twitter; ratio: 1.5"></a>
                <a href="" class="uk-icon-button uk-icon-button-large uk-margin-small-right" uk-icon="icon: facebook; ratio: 1.5"></a>
                <a href="" class="uk-icon-button uk-icon-button-large" uk-icon="icon: youtube; ratio: 1.5"></a>
              </div>
            </div>
          </li>
          <li>
            <div class="large-right">
              <h3 class="uk-text-primary uk-margin-remove">Navigation</h3>
              <hr class="uk-divider-small primary-divider uk-margin-small-top uk-margin-medium-bottom">
              <ul class="footer-nav uk-list uk-list-hyphen">
                <li>Homepage</li>
                <li>About us</li>
                <li>Coffee</li>
                <li>Chocolate</li>
                <li>Tea</li>
                <li>Shop</li>
                <li>Contact</li>
                <li>Basket</li>
                <li>Checkout</li>
                <li>Account</li>
              </ul>
            </div>
          </li>
          <li>
            <h3 class="uk-text-primary uk-margin-remove">Contact Info</h3>
            <hr class="uk-divider-small primary-divider uk-margin-small-top uk-margin-medium-bottom">
            <ul class="uk-list uk-list-large">
              <li>
                <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                  <div class="uk-width-auto">
                    <span class="uk-icon uk-icon-button uk-background-primary uk-icon-button-large" uk-icon="icon: location; ratio: 1.2"></span>
                  </div>
                  <div class="uk-width-expand">
                    <h4 class="uk-h4 uk-text-primary uk-margin-remove">Find us:</h4>
                    <p class="uk-margin-remove">Rio de Janeiro, RJ Brazil, 04103 Route.<br>Postcode: 1234567</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                  <div class="uk-width-auto">
                    <span class="uk-icon uk-icon-button uk-background-primary uk-icon-button-large" uk-icon="icon: mail; ratio: 1.2"></span>
                  </div>
                  <div class="uk-width-expand">
                    <h4 class="uk-h4 uk-text-primary uk-margin-remove">Email us:</h4>
                    <p class="uk-margin-remove">info@coffeeandtea.ie</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="icon-card uk-grid-small uk-flex uk-flex-top" uk-grid>
                  <div class="uk-width-auto">
                    <span class="uk-icon uk-icon-button uk-background-primary uk-icon-button-large" uk-icon="icon: receiver; ratio: 1.2"></span>
                  </div>
                  <div class="uk-width-expand">
                    <h4 class="uk-h4 uk-text-primary uk-margin-remove">Phone us:</h4>
                    <p class="uk-margin-remove">Help: +49078-039-23-11<br>Sales: +49078-028-55-60</p>
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <hr class="uk-margin-remove">
      <div class="uk-section uk-section-small uk-container uk-container-xlarge">
        <p>Hello</p>
      </div>
    </div>
  </footer>

  {# allows .uk-navbar-toggle-animate to work on uk-toggles with #offcanvas-overlay as target. needs anim-target attribute #}
  <script>
    var animated_toggles = document.querySelectorAll('.uk-navbar-toggle-animate');
    animated_toggles.forEach(item => {

      if(item.getAttribute('anim-target')){

        var theTarget = document.querySelector(item.getAttribute('anim-target'))

        theTarget.addEventListener("show", (event) => {
          if (event.target.id === 'offcanvas-overlay') {
            if(item.ariaExpanded == 'false') item.ariaExpanded = 'true';
          }
        });

        theTarget.addEventListener("hide", (event) => {
          if (event.target.id === 'offcanvas-overlay') {
            if(item.ariaExpanded == 'true') item.ariaExpanded = 'false';
          }
        });

      }

    });
  </script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".four-items-swipe", {
      slidesPerView: 1,
      spaceBetween: 0,
      breakpoints: {
        // when window width is >= 480
        480: {
          slidesPerView: 2,
          spaceBetween: 10
        },
        // when window width is >= 768
        768: {
          slidesPerView: 3,
          spaceBetween: 20
        },
        // when window width is >= 960
        960: {
          slidesPerView: 4,
          spaceBetween: 30
        }
      },
      pagination: {
        el: ".swiper-pagination-four-items",
        clickable: true,
      },
    });
    var swiper_numbers = new Swiper(".numbers-swipe", {
      slidesPerView: 1,
      spaceBetween: 0,
      breakpoints: {
        // when window width is >= 480
        480: {
          slidesPerView: 2,
          spaceBetween: 10
        },
        // when window width is >= 768
        768: {
          slidesPerView: 3,
          spaceBetween: 20
        },
        // when window width is >= 960
        960: {
          slidesPerView: 4,
          spaceBetween: 30
        }
      },
      pagination: {
        el: ".swiper-pagination-numbers",
        clickable: true,
      },
    });
    var swiper_benefits = new Swiper(".benefits-swipe", {
      slidesPerView: 1,
      spaceBetween: 0,
      pagination: {
        el: ".swiper-pagination-benefits",
        clickable: true,
      },
    });
  </script>

{% endblock %}