{% extends 'single.twig' %}

{% block header %}

  {# main header #}
  <header class="site-header uk-background-muted" data-template="header.twig">
    <nav class="uk-navbar-container uk-navbar-transparent">
      <div class="uk-container">

        {# main navbar with logo, menus & icons #}
        <div class="uk-navbar" uk-navbar>

          {# logo #}
          <div class="uk-navbar-left nav-overlay">
            <a class="uk-navbar-item uk-logo" href="{{ site.link|e('esc_url') }}">
              {% if theme.logo %}
                <img src="{{ theme.logo.src|e('esc_url') }}" width="{{ theme.logo.w }}" height="{{ theme.logo.h }}" alt="{{ theme.logo.alt|e('esc_html') }}">
              {% else %}
                {{ site.title|e('esc_html') }}
              {% endif %}
            </a>
          </div>

          {# main menu, search & offcanvas toggles #}
          <div class="uk-navbar-right nav-overlay">
            <ul class="uk-navbar-nav uk-navbar-nav-primary">

              {# main menu #}
              {% if has_menu_main %}
                {% for item in menu_main.get_items %}
                  {% if item.get_children %}
                    <li class="uk-visible@m {{ item.classes|join(' ')|e('esc_html') }}">
                      <a href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                      <div uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                          {% for child in item.get_children %}
                            <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                              <a href="{{ child.get_link|e('esc_url') }}">{{ child.title|e('esc_html') }}</a>
                              {% if child.children %}
                                <div uk-dropdown="pos: right-top">
                                  <ul class="uk-nav uk-dropdown-nav">
                                    {% for third in child.children %}
                                      <li class="{{ third.classes|join(' ')|e('esc_html') }}">
                                        <a href="{{ third.get_link|e('esc_url') }}">{{ third.title|e('esc_html') }}</a>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              {% endif %}
                            </li>
                          {% endfor %}
                        </ul>
                      </div>
                    </li>
                  {% else %}
                    <li class="uk-visible@m {{ item.classes|join(' ')|e('esc_html') }}">
                      <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html') }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endif %}

              {# search popup toggle #}
              <li class="search-icon">
                <a id="CloseSearchNav" class="uk-navbar-toggle" uk-search-icon uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
              </li>

              {# mobile menu toggle #}
              {% if has_menu_main %}
                <li class="uk-hidden@m">
                  <a class="uk-navbar-toggle uk-navbar-toggle-animate uk-icon uk-navbar-toggle-icon" href="#" uk-navbar-toggle-icon uk-toggle="target: #SlideInMenuLeft"></a>
                </li>
              {% endif %}

            </ul>
            <div class="dark-light-switcher uk-navbar-item">
              <a id="DarkSwitch" class="dark-light-link moon-link pull-up-2 darklight-switch">
                <img src="{{theme.link|e('esc_url')}}/assets/img/moon.svg" uk-svg>
              </a>
              <a id="LightSwitch" class="dark-light-link sun-link pull-up-2 darklight-switch">
                <img src="{{theme.link|e('esc_url')}}/assets/img/sun.svg" uk-svg>
              </a>
            </div>
          </div>

          {# search form (with live search components) #}
          <div class="nav-overlay uk-navbar-left uk-flex-1" hidden>
            <div class="uk-navbar-item uk-width-expand">
              <form id="form_validate_search" class="form_search_main uk-search uk-search-navbar uk-width-1-1 uk-position-relative uk-inline uk-flex uk-flex-center" role="search" method="get" action="{{ site.url|e('esc_url') }}" accept-charset="utf-8" novalidate="novalidate">
                <div class="uk-width-1-1 uk-position-relative">

                  {# animated spinner #}
                  {% if configs.live_search %}
                    <div id="loaderSearchToggle" class="uk-position-bottom-left" style="display:none;">
                      <div id="loaderSearch"></div>
                    </div>
                  {% endif %}
                  
                  {# reset close button #}
                  {% if configs.live_search %}
                    <button id="LiveSearchReset" type="reset" class="uk-search-icon-flip uk-icon uk-search-icon" style="display:none;">
                      <span uk-icon="icon: refresh; ratio: 1"></span>
                    </button>
                  {% endif %}

                  {# search text input #}
                  <input id="input_search" class="uk-search-input" type="text" name="s" maxlength="300" pattern=".*\S+.*" placeholder="{{ configs.live_search ? _x('Start typing...', 'Search: form', 'base-theme')|e('esc_html') : _x('Start typing & press enter...', 'Search: form', 'base-theme')|e('esc_html') }}" required autocomplete="off" value>

                </div>

                {# the results will go here via ajax #}
                {% if configs.live_search %}
                  <div id="response_search_results" class="search-results-ajax uk-height-max-medium uk-overflow-auto"></div>
                {% endif %}

              </form>
            </div>
            <a class="uk-navbar-toggle" uk-close uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#"></a>
          </div>

        </div>

      </div>
    </nav>
  </header>

  {# mobile offcanvas #}
  {% if has_menu_main %}
    <nav id="SlideInMenuLeft" class="mobile-slide-navbar" uk-offcanvas="mode: slide; overlay: true">
      <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide uk-padding-small">

        {# mobile menu nav #}
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
          {% if has_menu_main %}

            {# mobile menu title #}
            <li class="uk-nav-header uk-padding-remove uk-margin-small-bottom uk-text-capitalize">
              {{ menu_main.title|e('esc_html') }}
              <a class="uk-offcanvas-close uk-position-top-right uk-position-small uk-padding-remove"><span uk-icon="icon: close; ratio: .9"></span></a>
            </li>

            <li class="uk-nav-divider"></li>

            {# mobile menu items #}
            {% for item in menu_main.get_items %}
              {% if item.get_children %}
                <li class="{{ item.classes|join(' ')|e('esc_html') }} uk-parent">
                  <a href="{{ item.link|e('esc_url') }}">{{ item.title|e('esc_html')}}</a>
                  <ul class="uk-nav-sub">
                    {% for child in item.get_children %}
                      <li class="{{ child.classes|join(' ')|e('esc_html') }}">
                        <a href="{{ child.get_link|e('esc_url') }}">- {{ child.title|e('esc_html')}}</a>
                        {% if child.children %}
                          <ul class="uk-nav-sub">
                            {% for third in child.children %}
                              <li class="{{ third.classes|join(' ')|e('esc_html') }}">
                                <a href="{{ third.get_link|e('esc_url') }}">- {{ third.title|e('esc_html')}}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li class="{{ item.classes|join(' ')|e('esc_html') }}">
                  <a href="{{ item.get_link|e('esc_url') }}">{{ item.title|e('esc_html')}}</a>
                </li>
              {% endif %}
            {% endfor %}

          {% endif %}
        </ul>

        {# mobile menu credits & copyrights #}
        <div class="uk-position-bottom uk-position-small">
          <p class="uk-text-center uk-text-small uk-margin-remove">
            {{ _x('© All Rights Reserved %s', 'Footer: copyright', 'base-theme')|format(now|date('Y'))|e('esc_html') }} - <a href="{{ site.link|e('esc_url') }}">{{ site.title|e('esc_html') }}</a>
            <br>
            Made by <a href="https://github.com/robmccormack89/" target="_blank">robmccormack89 <span uk-icon="icon: github"></span></a>
          </p>
        </div>

      </div>
    </nav>
  {% endif %}

  {# search modal #}
  {% if not configs.live_search %}
    <div id="ModalSearch" class="uk-modal-full uk-modal" uk-modal>
      <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>

        <a class="uk-modal-close-full uk-close-large" type="button" uk-close></a>

        {# popup search form #}
        <form class="uk-search uk-search-large" role="search" method="get" action="{{ site.url|e('esc_url') }}">

          {# search input with hidden post_type = 'post' #}
          <input id="header-search" class="uk-search-input uk-text-center" type="search" name="s" placeholder="{{ _x('Start typing...', 'Search: form', 'base-theme')|e('esc_html') }}"
          required maxlength="100" pattern=".*\S+.*" autocomplete="off" autofocus>
          <input type="hidden" name="post_type" value="post" />

        </form>
        
      </div>
    </div>
  {% endif %}

{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
{% endblock %}