{% if gallery and gallery.images %}
  <div id="{{ gallery.id }}" class="{{ gallery.container|default('meta-gallery') }}">

    {# START: the gallery settings DIV  #}
    {% if gallery.layout == 'mosaicOne' %}
      {# mosaic 1 settings #}
      <div data-nanogallery2 = '{ 

        {% set gallerydisplaymode = gallery.gallerydisplaymode|default('rows') %}
        {% set gallerymaxrows = gallery.gallerymaxrows|default(1) %}
        {% set gallerysorting = gallery.gallerysorting|default('random') %}
        {% set gallerydisplaymorestep = gallery.gallerydisplaymorestep|default(2) %}

        {% set thumbnailheight = gallery.thumbnailheight|default('180') %}
        {% set thumbnailwidth = gallery.thumbnailwidth|default('220') %}
        {% set thumbnailalignment = gallery.thumbnailalignment|default('scaled') %}
        {% set thumbnailgutterwidth = gallery.thumbnailgutterwidth|default(0) %}
        {% set thumbnailgutterheight = gallery.thumbnailgutterheight|default(0) %}
        {% set thumbnaildisplayorder = gallery.thumbnaildisplayorder|default('random') %}

        "galleryMosaic" : [
          { "w": 2, "h": 2, "c": 1, "r": 1 },
          { "w": 1, "h": 1, "c": 3, "r": 1 },
          { "w": 1, "h": 1, "c": 3, "r": 2 },
          { "w": 1, "h": 2, "c": 4, "r": 1 },
          { "w": 2, "h": 1, "c": 5, "r": 1 },
          { "w": 2, "h": 2, "c": 5, "r": 2 },
          { "w": 1, "h": 1, "c": 4, "r": 3 },
          { "w": 2, "h": 1, "c": 2, "r": 3 },
          { "w": 1, "h": 2, "c": 1, "r": 3 },
          { "w": 1, "h": 1, "c": 2, "r": 4 },
          { "w": 2, "h": 1, "c": 3, "r": 4 },
          { "w": 1, "h": 1, "c": 5, "r": 4 },
          { "w": 1, "h": 1, "c": 6, "r": 4 }
        ],
        "galleryMosaicXS" : [
          { "w": 2, "h": 2, "c": 1, "r": 1 },
          { "w": 1, "h": 1, "c": 3, "r": 1 },
          { "w": 1, "h": 1, "c": 3, "r": 2 },
          { "w": 1, "h": 2, "c": 1, "r": 3 },
          { "w": 2, "h": 1, "c": 2, "r": 3 },
          { "w": 1, "h": 1, "c": 2, "r": 4 },
          { "w": 1, "h": 1, "c": 3, "r": 4 }
        ],
        "galleryMosaicSM" : [
          { "w": 2, "h": 2, "c": 1, "r": 1 },
          { "w": 1, "h": 1, "c": 3, "r": 1 },
          { "w": 1, "h": 1, "c": 3, "r": 2 },
          { "w": 1, "h": 2, "c": 1, "r": 3 },
          { "w": 2, "h": 1, "c": 2, "r": 3 },
          { "w": 1, "h": 1, "c": 2, "r": 4 },
          { "w": 1, "h": 1, "c": 3, "r": 4 }
        ],

        {# gallery pagination #}
        {% if gallerydisplaymode == 'rows' or gallerydisplaymode == 'pagination' or gallerydisplaymode == 'fullContent' or gallerydisplaymode == 'moreButton' %}
        "galleryDisplayMode": "{{gallerydisplaymode}}",
        {% endif %}

        {# gallery rows #}
        {% if gallerydisplaymode == 'rows' or gallerydisplaymode == 'pagination' %}
        "galleryMaxRows": {{gallerymaxrows}},
        {% endif %}

        {# gallery paginated more button #}
        {% if gallerydisplaymode == 'moreButton' %}
        "galleryDisplayMoreStep": {{gallerydisplaymorestep}},
        {% endif %}

        {# gallery sorting #}
        {% if gallerysorting == 'titleAsc' or gallerysorting == 'titleDesc' or gallerysorting == 'reversed' or gallerysorting == 'random' %}
        "gallerySorting": "{{gallerysorting}}",
        {% endif %}

        "galleryDisplayTransitionDuration": 1500,

        {# thumb settings #}
        "thumbnailDisplayOrder": "{{ thumbnaildisplayorder|e('esc_js')}}",
        "thumbnailHeight": "{{ thumbnailheight|e('esc_js') }}", 
        "thumbnailWidth": "{{ thumbnailwidth|e('esc_js') }}",
        "thumbnailAlignment": "{{ thumbnailalignment|e('esc_js') }}",
        "thumbnailGutterWidth": {{ thumbnailgutterwidth|e('esc_js') }},
        "thumbnailGutterHeight": {{ thumbnailgutterheight|e('esc_js') }},

        "thumbnailBorderHorizontal": 0, 
        "thumbnailBorderVertical": 0,
        "thumbnailToolbarImage": null,
        "thumbnailToolbarAlbum": null,
        "thumbnailLabel": { 
          "display": false 
        },
        "thumbnailDisplayTransition": "imageSlideUp",
        "thumbnailDisplayTransitionDuration": 1200,
        "thumbnailDisplayTransitionEasing": "easeInOutQuint",
        "thumbnailDisplayInterval": 60,
        "thumbnailBuildInit2": "image_scale_1.15",
        "thumbnailHoverEffect2": "thumbnail_scale_1.00_1.05_300|image_scale_1.15_1.00",

        "touchAnimation": true,
        "touchAutoOpenDelay": 500,

        "viewerToolbar": { 
          "display": false 
        },
        "viewerTools":    {
          "topLeft":   "label",
          "topRight":  "shareButton, rotateLeft, rotateRight, fullscreenButton, closeButton"
        },

        "galleryTheme": {
          "thumbnail": {
            "background": "rgba(11,11,11,1)"
          }
        },
        
        "locationHash": true 

      }'>
    {% elseif gallery.layout == 'mosaicTwo' %}
      {# mosaic 2 settings #}
      <div data-nanogallery2 = '{ 

        "galleryDisplayTransitionDuration": 1500,

        "thumbnailBuildInit2": ".nGY2GThumbnailAlbumTitle_border-left_5px solid #23CB99|.nGY2GThumbnailAlbumTitle_margin_20px|\title_backgroundColor_rgba(200,200,200,0.8)|title_color_#000",
      
        "galleryMosaic" : [
          { "w": 16, "h": 18, "c": 1, "r": 1 },
          { "w": 8, "h": 9, "c": 21, "r": 5 },
          { "w": 4, "h": 6, "c": 28, "r": 2 },
          { "w": 4, "h": 6, "c": 19, "r": 11 },
          { "w": 6, "h": 8, "c": 27, "r": 10 }
        ],
        "galleryMosaicXS" : [
          { "w": 6, "h": 9, "c": 1, "r": 1 },
          { "w": 4, "h": 4, "c": 9, "r": 3 },
          { "w": 2, "h": 3, "c": 12, "r": 1 },
          { "w": 2, "h": 3, "c": 8, "r": 5 },
          { "w": 3, "h": 4, "c": 12, "r": 6 }
        ],
        "galleryMosaicSM" : [
          { "w": 6, "h": 9, "c": 1, "r": 1 },
          { "w": 4, "h": 4, "c": 9, "r": 3 },
          { "w": 2, "h": 3, "c": 12, "r": 1 },
          { "w": 2, "h": 3, "c": 8, "r": 5 },
          { "w": 3, "h": 4, "c": 12, "r": 6 }
        ],

        "galleryMaxRows": 1,
        "galleryDisplayMode": "rows",

        {# gallery sorting #}
        {% if gallerysorting == 'titleAsc' or gallerysorting == 'titleDesc' or gallerysorting == 'reversed' or gallerysorting == 'random' %}
        "gallerySorting": "{{gallerysorting}}",
        {% endif %}

        "thumbnailDisplayOrder": "random",

        "thumbnailHoverEffect2": "image_scale_1.00_1.15_500_bounce|image_rotateZ_0deg_05deg",
        "touchAnimation": true,
        "touchAutoOpenDelay": 500,

        "thumbnailAlignment": "scaled",
        "thumbnailHeight": 100, 
        "thumbnailWidth": 100,
        "thumbnailGutterWidth": 0, 
        "thumbnailGutterHeight": 0,

        "thumbnailBorderHorizontal": 0, 
        "thumbnailBorderVertical": 0,
        "thumbnailToolbarImage" : null,
        "thumbnailToolbarAlbum": null,
        "thumbnailLabel": { 
          "display": false 
        },
        
        "galleryDisplayTransition": "rotateX",
        "galleryDisplayTransitionDuration": 1500,
        "thumbnailDisplayTransition": "scaleUp",
        "thumbnailDisplayTransitionDuration": 600,
        "thumbnailDisplayInterval": 30,

        "viewerToolbar": {
          "display": true,
          "standard":  "label",
          "minimized": "label"
        },

        "viewerTools":    {
          "topLeft":   "",
          "topRight":  "shareButton, rotateLeft, rotateRight, fullscreenButton, closeButton"
        },
    
        "locationHash": false
          
      }'>
    {% else %}
      {# justified with pagination settings #}
      <div data-nanogallery2 = '{ 

        {% set gallerydisplaymode = gallery.gallerydisplaymode|default('pagination') %}
        {% set gallerymaxrows = gallery.gallerymaxrows|default(5) %}
        {% set gallerysorting = gallery.gallerysorting|default('random') %}
        {% set gallerydisplaymorestep = gallery.gallerydisplaymorestep|default(2) %}

        {% set thumbnailheight = gallery.thumbnailheight|default('250') %}
        {% set thumbnailwidth = gallery.thumbnailwidth|default('auto') %}
        {% set thumbnailalignment = gallery.thumbnailalignment|default('fillWidth') %}
        {% set thumbnailgutterwidth = gallery.thumbnailgutterwidth|default(20) %}
        {% set thumbnailgutterheight = gallery.thumbnailgutterheight|default(20) %}
        {% set thumbnaildisplayorder = gallery.thumbnaildisplayorder|default('') %}

        {# gallery pagination #}
        {% if gallerydisplaymode == 'rows' or gallerydisplaymode == 'pagination' or gallerydisplaymode == 'fullContent' or gallerydisplaymode == 'moreButton' %}
        "galleryDisplayMode": "{{gallerydisplaymode}}",
        {% endif %}

        {# gallery paginated more button #}
        {% if gallerydisplaymode == 'moreButton' %}
        "galleryDisplayMoreStep": {{gallerydisplaymorestep}},
        {% endif %}

        {# gallery rows #}
        {% if gallerydisplaymode == 'rows' or gallerydisplaymode == 'pagination' %}
        "galleryMaxRows": {{gallerymaxrows}},
        {% endif %}

        {# gallery sorting #}
        {% if gallerysorting == 'titleAsc' or gallerysorting == 'titleDesc' or gallerysorting == 'reversed' or gallerysorting == 'random' %}
        "gallerySorting": "{{gallerysorting}}",
        {% endif %}

        {# gallery theme: colours etc #}
        "galleryTheme": {
          "thumbnail": {
            "titleShadow": "none",
            "descriptionShadow": "none",
            "titleColor": "rgba(255,255,255,1)",
            "borderColor": "rgba(255,255,255,1)"
          },
          "navigationPagination": {
            "background": "rgba(60,75,91,1)",
            "color": "rgba(255,255,255,1)",
            "colorHover": "rgba(170,170,170,1)",
            "borderRadius": "4px"
          }
        },

        {# thumb settings #}
        "thumbnailDisplayOrder": "{{ thumbnaildisplayorder|e('esc_js') }}",
        "thumbnailHeight": "{{ thumbnailheight|e('esc_js') }}", 
        "thumbnailWidth": "{{ thumbnailwidth|e('esc_js') }}",
        "thumbnailAlignment": "{{ thumbnailalignment|e('esc_js') }}",
        "thumbnailL1GutterWidth": {{ thumbnailgutterwidth|e('esc_js') }},
        "thumbnailL1GutterHeight": {{ thumbnailgutterheight|e('esc_js') }},

        "thumbnailBorderHorizontal": 1,
        "thumbnailBorderVertical": 1,
        "thumbnailDisplayTransition": "flipUp",
        "thumbnailDisplayTransitionDuration": 400,
        "thumbnailDisplayInterval": 200,
        "thumbnailDisplayOrder": "rowByRow",

        {# thumbnail hover effect #}
        "thumbnailHoverEffect2": "toolsSlideUp|labelSlideDown",

        {# thumbnail hover content #}
        "thumbnailL1Label": { 
          "display": true, 
          "position":"overImageOnTop", 
          "hideIcons": true, 
          "titleFontSize": "1rem", 
          "align": "left"
        },
        "thumbnailToolbarImage":  { 
          "topLeft": "select", 
          "bottomRight": "share,display,download" 
        },
        
        {# touch settings #}
        "touchAnimation": true,
        "touchAutoOpenDelay": -1,

        {# enable uri hashes #}
        "locationHash": false
        
      }'>
    {% endif %}

      {# the gallery items #}
      {% for img in gallery.images %}
        <a href="{{ img.src|e('esc_url') }}">{{ img.title|e('esc_html') }}
          <img src="{{ img.src|e('esc_url') }}" alt="{{ img.alt|e('esc_html') }}">
        </a>
      {% endfor %}

    </div>
    {# END: the gallery settings DIV  #}

  </div>
{% endif %}