<article id="comment-{{ comment.id|e('esc_html') }}" {{ fn('comment_class', 'uk-comment ' ~ (primary_comment ? 'uk-comment-primary uk-padding-small') ~ ' uk-visible-toggle', comment.id) }} tabindex="-1" role="comment">

  {# comment header #}
  <header class="uk-comment-header uk-position-relative">

    <ul class="uk-grid-small uk-flex-middle" uk-grid>

      {# comment author avatar #}
      <li class="uk-width-auto">
        <img class="uk-comment-avatar uk-border-circle" alt="{{ comment.author.name|e('esc_html') }} avatar" src="{{ comment.avatar|e('esc_url') }}" width="70" height="70">
      </li>

      {# comment author title & metas #}
      <li class="uk-width-expand">
        <h3 class="uk-comment-title uk-margin-remove">
          {{ comment.author.name|e('esc_html') }}
        </h3>
        <p class="uk-comment-meta uk-margin-remove-top">
          {{ comment.date|e('esc_html') }}, {{ comment.time|e('esc_html') }}
        </p>
      </li>
      
    </ul>

    {# comment edit link #}
    {% if comment.author.id == fn('get_current_user_id') %}
      <div class="uk-position-top-right uk-position-small uk-hidden-hover">
        <a class="uk-link-muted uk-margin-left" href="{{ fn('get_edit_comment_link', comment.id)|e('esc_url') }} ">{{ _x('Edit', 'Single: comments', 'base-theme')|e('esc_html') }}</a>
      </div>
    {% endif %}

  </header>

  {# comment body #}
  <div class="uk-comment-body uk-margin-top">

    {{ comment.content|e('wp_kses_post') }}

    {# comment reply dropdown button #}
    {% if fn('is_user_logged_in') and not disable_replies %}
      <a class="uk-button uk-button-small uk-button-default uk-text-capitalize" href uk-toggle="target: #comment-reply-box{{ comment.id|e('esc_html') }}; animation: uk-animation-fade">{{ _x('Reply', 'Single: comments', 'base-theme')|e('esc_html') }}</a>
      <div id="comment-reply-box{{ comment.id }}" class="uk-margin-top" hidden>
        <h3 class="uk-h4">{{ _x('Reply to', 'Single: comments', 'base-theme')|e('esc_html') }} {{ comment.author.name|e('esc_html') }}</h3>
        {% include "comment_form.twig" %}
      </div>
    {% endif %}

  </div>
  
</article>